<section id="application" class="section">
  <div class="container">
    <header class="section-header">
      <h2 class="section-heading">応募要項</h2>
  	  <p class="section-subheading">Application Guidelines</p>
    </header>
    <div class="section-body">
      <table class="table application-table">
        <tbody>
       	  <tr>
       	    <th class="col-xs-3">名称</th>
       	    <td>縦書きWebデザインアワード</td>
          </tr>
          <tr>
            <th class="col-xs-3">開催期間</th>
       	    <td>2015年11月～2016年3月</td>
          </tr>
          <tr>
       	    <th class="col-xs-3">募集内容</th>
       	    <td>
       	    	<p>CSS Writing Modes （文字表記の方向（縦横）を指定するCSSモジュール）を使用し、①表現的に優れた実用性の高い縦書きの作品、②Webの新たな可能性を見せてくれるような縦書きの作品を募集。</p>
       	    	<dl>
       	    	  <dt>自由部門</dt>
       	    	  <dd>CSS Writing Modes を使用した自由な縦書きWebコンテンツ。素材は問いません（必要であればご自身にて事前に著作権の利用許諾を得て下さい）。</dd>
       	    	  <dt>課題部門</dt>
       	    	  <dd>主催側で提示した素材（テキスト・画像）に対し、CSS Writing Modesを使用して縦書き化を行います。</dd>
                <dt>高校生以下の部</dt>
                <dd>自由部門、課題部門で応募頂いた高校生以下を特別枠で審査します。</dd>
       	    	</dl>
       	    </td>
          </tr>
          <tr>
       	    <th class="col-xs-3">作品形態</th>
       	    <td>Web上に公開</td>
          </tr>
          <tr>
       	    <th>募集対象者</th>
       	    <td>一般、Webクリエイター、学生（特に高校生）など。性別、年齢、国籍を問わず、個人またはチームでの参加が可能（法人単位での応募は対象外です）。</td>
          </tr>
          <tr>
       	    <th class="col-xs-3">応募方法</th>
       	    <td>応募期間中に用意する応募フォームから、部門ごとに作品URLを応募。</td>
          </tr>
          <tr>
       	    <th class="col-xs-3">応募要項</th>
       	    <td>応募規約に同意の上、応募頂きます。詳細は後日Webサイトに掲載。</td>
          </tr>
          <tr>
       	    <th>応募期間</th>
       	    <td>2016年1月～2月初旬</td>
          </tr>
          <tr>
       	    <th class="col-xs-3">表彰</th>
       	    <td>①自由部門、②課題部門のそれぞれに最優秀賞、優秀賞を設定。賞金または副賞あり。高校生以下の部については別途表彰を予定。</td>
          </tr>
          <tr>
       	    <th class="col-xs-3">選考方法</th>
       	    <td>応募作品の事前選考を実施。候補作品を対象に、表彰式当日に審査員により決定。</td>
          </tr>
          <tr>
       	    <th class="col-xs-3">結果発表・表彰式</th>
       	    <td>2016年3月、表彰式（都内）およびWebサイトにて発表。<br /><small>※候補作品に選ばれた方は、表彰式への出席をお願いいたします（交通・渡航費、宿泊費等の実費はご負担下さい）。</small></td>
          </tr>
          <tr>
       	    <th class="col-xs-3">主催</th>
       	    <td><a href="{{ site.baseurl }}/">縦書きWeb普及委員会<br /><small>（正式名称：次世代Webブラウザのテキストレイアウトに関する検討会）</small></a></td>
          </tr>
          <tr>
       	    <th class="col-xs-3">事務局</th>
       	    <td><a href="http://www.est.co.jp/">イースト株式会社</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>