<aside id="note">
  <div class="container">
    <ul class="foot-nav list-inline small text-center">
      <li><a href="{{ site.baseurl}}/awards#application">応募要項</a></li>
      <li><a href="{{ site.baseurl}}/awards#judges">審査員</a></li>
      <li><a href="{{ site.baseurl}}/awards#sponsors">協賛</a></li>
      <li><a href="{{ site.baseurl}}/awards#seminars">セミナー情報</a></li>
      <li><a href="{{ site.baseurl}}/awards/faq/">FAQ</a></li>
      <li><a href="{{ site.baseurl}}/">主催者</a></li>
    </ul>
    <ul class="note-list">
      <li>当サイトはウェブブラウザの先進的な機能を使ってレイアウトされており、古いブラウザでは意図したとおりに表現されないことがあります。本来のレイアウトでご覧頂くには最新のウェブブラウザをご利用ください。</li>
      <li>当サイトはこのサイトはソフトバンク・テクノロジー株式会社の協力により Webフォントサービス <a href="http://webfont.fontplus.jp/">FONTPLUS</a> を使用しています。</li>
      <li>記載されている商品またはサービス等の名称は、各社の商標または登録商標です。</li>
    </ul>
  </div>
</aside>