<section id="purpose" class="section">
  <div class="container">
    <header class="section-header">
      <h2 class="section-heading">開催目的</h2>
  	  <p class="section-subheading">Purpose</p>
    </header>
    <div class="section-body">
    	<p>　Webにおける縦書きの取り組みは、Internet Explorer 5.5（2000年）による独自の実装がありました。その後、2010年以降、W3C CSS Working Group による仕様策定が活発化し、ブラウザベンダーによる実装や、有志によるテストなどの協力の成果として、最新の主要なウェブブラウザは縦書きを表現できるようになりました。</p>

    	<p>　Webにおける縦書きの実際の利用を普及促進させ、インターネット上のデザインや表現を多彩にするために、CSS Writing Modesを利用した縦書きWebサイトを募集し、優れた縦書きWebデザインを選考する「縦書きWebデザインアワード」を開催します。</p>

    	<p>　応募者は、個人またはチーム単位であれば、どなたでも応募可能。新規に制作したWebサイトだけでなく、既存の横書きWebサイト、企業や学校のサイトを縦書きでリデザインして応募することも可能です。優れた縦書きWebデザインの応募お待ちしています！</p>
      
      <hr />

      <h3 class="h4">参考情報</h3>
      
      <ul>
        <li><a href="/#commentaries">縦書きWebの技術解説</a></li>
        <!-- <li><a href="#">縦書きレイアウト作成ノウハウ</a></li> -->
        <li><a href="/#examples">縦書きWebの事例紹介</a></li>
      </ul>
    </div>
  </div>
</section>