<section id="seminors" class="section">
  <div class="container">
    <header class="section-header">
      <h2 class="section-heading">セミナー</h2>
  	  <p class="section-subheading">Seminors</p>
    </header>
    <div class="section-body">
      <h3 class="subsection-heading">縦書きレイアウトのWebコンテンツ実践セミナー <small class="text-danger">終了しました。ありがとうございました！</small></h3>
      <table class="table">
        <tbody>
       	  <tr>
       	    <th class="col-xs-3">日時</th>
       	    <td>2015年10月20日(火)19:00～21:00</td>
          </tr>
       	  <tr>
       	    <th class="col-xs-3">場所</th>
       	    <td>インターネット・アカデミー渋谷校</td>
          </tr>
       	  <tr>
       	    <th class="col-xs-3">詳細</th>
       	    <td>
       	      <p>インターネット・アカデミーは、10月20日(火)に総務省の協力を得て「縦書きレイアウトのWebコンテンツ実践セミナー」を開催します。</p>

       	      <p>本セミナーは、縦書きWebコンテンツ作成技術の普及を目的としており、総務省や縦書きレイアウトに積極的に取り組んでいる企業を講師に招いて実施します。セミナー前半では縦書きテキストレイアウトの標準化の取り組み状況やW3Cにおける縦書き関連仕様の解説を行い、 後半では参加者が実際にWebコンテンツの一部を縦書きにするという実践的な内容となっています。</p>

       	      <p>詳細は<a href="https://www.internetacademy.jp/info/201509151.html">こちら</a>から</p>
       	    </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>