<section id="seminars" class="section">
  <div class="container">
    <header class="section-header">
      <h2 class="section-heading">セミナー</h2>
  	  <p class="section-subheading">Seminars</p>
    </header>
    <section class="subsection">
      <header class="subsection-header"> 
        <h3 class="subsection-heading">縦書きレイアウトのWebコンテンツ実践セミナー＆懇親会</h3>
      </header>

      <table class="table event-table">
        <tbody>
          <tr>
            <th class="col-xs-3">日時</th>
            <td>
              2016年1月20日(水)
              <dl>
                <dt>セミナー<dt>
                <dd>17:00～19:00</dd>
                <dt>懇親会<dt>
                <dd>19:10～20:30</dd>
              </dl>
            </td>
          </tr>
          <tr>
            <th class="col-xs-3">場所</th>
            <td>
              <dl>
                <dt>セミナー会場</dt>
                <dd>
                  <p>インターネット・アカデミー渋谷校<br />東京都渋谷区桜丘町20-1　渋谷インフォスタワー5階</p>
                  <p><a class="btn btn-default btn-sm" href="https://www.internetacademy.jp/contents/access.html">地図</a></p>
                </dd>
                <dt>懇親会会場</dt>
                <dd>
                  <p>Shibuya 86 Cafe</p>
                  <p><a class="btn btn-default btn-sm" href="http://r.gnavi.co.jp/14unye1a0000/">ウェブサイト</a></p>
                </dd>
            </td>
          </tr>
          <tr>
            <th class="col-xs-3">詳細</th>
            <td>
              <p>セミナー前半では縦書きテキストレイアウトの標準化の取り組みの紹介や本アワードの説明会、後半では、本アワードの課題部門の素材の一部を使用して、参加者が実際に縦書きにするという実践的な内容です。作成したコンテンツは、本アワードに応募いただくことも可能です。また、セミナー終了後には懇親会を予定しております。</p>

              <dl>
                <dt>対象</dt>
                <dd>インターネット・アカデミー受講生・卒業生</dd>
                <dt>参加費</dt>
                <dd>無料　※懇親会は3,000円 (税込)</dd>
                <dt>定員</dt>
                <dd>28名（※満席になり次第、募集を締め切らせていただきます）</dd>
                <dt>応募方法</dt>
                <dd>応募フォームからお申し込みください。
                </dd>
              </dl>

              <p>詳細は<a href="https://www.internetacademy.jp/info/201512251.html">こちら</a>から</p>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="subsection">
      <header class="subsection-header"> 
        <h3 class="subsection-heading">CPI x CSS Nite x 優クリエイト「After Dark」（30）
「縦書きWebデザイン」</h3>
      </header>

      <table class="table event-table">
        <tbody>
          <tr>
            <th class="col-xs-3">日時</th>
            <td>2016年01月21日(木)19:30-21:00</td>
          </tr>
          <tr>
            <th class="col-xs-3">場所</th>
            <td>
              KDDIウェブコミュニケーションズ セミナールーム<br />
              東京都千代田区麹町3-6 住友不動産麹町ビル3号館 6F<br />
              <a class="btn btn-default btn-sm" href="https://www.google.co.jp/maps/preview?oe=utf-8&hl=ja&client=firefox-a&q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E9%BA%B9%E7%94%BA3-6&ie=UTF-8&hq=&hnear=0x60188c64cd70d149:0x34d12aa279b070d7,%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E9%BA%B9%E7%94%BA%EF%BC%93%E4%B8%81%E7%9B%AE%EF%BC%96&gl=jp&ei=_pB0U-y6CIyjugTZ4YBY&ved=0CI4BELYDMAo">地図</a>
            </td>
          </tr>
          <tr>
            <th class="col-xs-3">詳細</th>
            <td>
              <p>あらゆる情報が流通するWeb。日本語で必須となる縦書きも主要ブラウザで利用できる環境になってきました。日本固有の縦書きという概念が、CSSにどのように取り込まれているのかについて、技術的な背景を説明しつつ、実際にWebを縦書きでデザインする際のおさえておくべきポイントを解説します。</p>

              <p>出演</p>
              <ul>
                <li>榊原 寛（BPS）</li>
                <li>カワセ タケヒロ（musubime）</li>
                <li>佐々木 未来也（コンセント） ほか</li>
              </ul>


              <p>詳細は<a href="http://cssnite.jp/afterdark/cpi/vol30/">こちら</a>から</p>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="subsection">
      <header class="subsection-header"> 
        <h3 class="subsection-heading">縦書きレイアウトのWebコンテンツ実践セミナー</h3>
        <p class="text-muted">終了しました。ありがとうございました！</p>
      </header>

      <table class="table event-table">
        <tbody>
       	  <tr>
       	    <th class="col-xs-3">日時</th>
       	    <td>2015年10月20日(火)19:00～21:00</td>
          </tr>
       	  <tr>
       	    <th class="col-xs-3">場所</th>
       	    <td>インターネット・アカデミー渋谷校</td>
          </tr>
       	  <tr>
       	    <th class="col-xs-3">詳細</th>
       	    <td>
       	      <p>インターネット・アカデミーは、10月20日(火)に総務省の協力を得て「縦書きレイアウトのWebコンテンツ実践セミナー」を開催します。</p>

       	      <p>本セミナーは、縦書きWebコンテンツ作成技術の普及を目的としており、総務省や縦書きレイアウトに積極的に取り組んでいる企業を講師に招いて実施します。セミナー前半では縦書きテキストレイアウトの標準化の取り組み状況やW3Cにおける縦書き関連仕様の解説を行い、 後半では参加者が実際にWebコンテンツの一部を縦書きにするという実践的な内容となっています。</p>

       	      <p>詳細は<a href="https://www.internetacademy.jp/info/201509151.html">こちら</a>から</p>
       	    </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</section>