/* CONTENTS */
#contents .image:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
#contents .image {
zoom: 1;
}

body {
background-color: #fff;
text-align: center;
}
#container {
overflow: hidden;
}
#contents {
padding: 150px 20px 50px 20px;
text-align: center;
}
#contents h1 {
position: relative;
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
margin: 0 auto 0 auto;
padding-bottom: 77px;
width: 108px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 24px;
line-height: 1.43;
text-align: left;
letter-spacing: 0.17em;
display: inline-block;
z-index: 1;
}
#E1 #contents h1 {
width: 140px;
}
#contents .section {
text-align: left;
}
#contents .section h2 {
margin-bottom: 26px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 24px;
color: #d60d21;
}
#contents .block {
margin-bottom: 56px;
text-align: left;
}
#contents .section h3 {
margin-bottom: 31px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 20px;
}
#contents .section h3 strong {
color: #d60d21;
}
#contents p {
margin-bottom: 31px;
font-family: 'FOT-筑紫A丸ゴシック Std R','TsukuARdGothicStd-R',sans-serif;
font-size: 16px;
line-height: 2;
}
#contents .section ul strong,
#contents .section p strong {
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
color: #e6001e;
}
#contents ul {
margin-bottom: 31px;
padding-left: 38px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 16px;
line-height: 2;
list-style-type: disc;
}
#contents ul.bold {
margin-bottom: 31px;
padding-left: 38px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 16px;
line-height: 2;
list-style-type: disc;
}
#contents .section .image {
position: relative;
margin-bottom: 25px;
}
#contents .section .html {
    background-color: #f0f0eb;
    padding: 20px;
}
#contents .section .image div {
box-sizing: border-box;
background-color: #f0f0eb;
margin-bottom: 5px;
padding: 20px;
text-align: center;
font-size: 0;
line-height: 0;
}
#contents .section .image img {
max-width: 100%;
height: auto;
}
#contents .section .image .cap {
margin-top: 30px;
margin-bottom: 0;
}
#contents .section .code {
background-color: #f7f7f5;
border: solid 1px #e5e5e5;
margin-bottom: 25px;
padding: 14px 25px 18px 25px;
}
#contents .section .code p {
margin: 0 0 1em 0;
}
#contents .section .code p:last-child {
margin: 0;
}
#contents .section .code .s1 {
color: #00479d;
}
#contents .section .code .s2 {
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
color: #eb6877;
}
#contents .section .code .s3 {
color: #00a0e9;
}
#contents .section .code .s4 {
color: #0068b7;
}
#contents .section .code .s5 {
color: #009d16;
}
#contents .section .code .s6 {
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
color: #b5b29d;
}
#contents .section .table {
border-bottom: solid 2px #e1e0d8;
margin-bottom: 25px;
padding-bottom: 8px;
}
#contents .section .table table {
border-collapse: collapse;
width: 100%;
}
#contents .section .table thead th {
background-color: #dad8ce;
padding: 8px 20px 8px 20px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 18px;
text-align: left;
}
#contents .section .table thead th:last-child {
background: #dad8ce url(../img/table_bg2.png) no-repeat left center;
}
#contents .section .table tbody th {
background: url(../img/table_bg.png) no-repeat right bottom;
border-top: solid 8px #fff;
padding: 8px 20px 17px 20px;
font-size: 16px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
color: #d9303c;
text-align: left;
}
#contents .section .table tbody th span {
font-family: 'FOT-筑紫A丸ゴシック Std R','TsukuARdGothicStd-R',sans-serif;
color: #1b2437;
}
#contents .section .table tbody td {
background: url(../img/table_bg.png) no-repeat left bottom;
border-top: solid 8px #fff;
padding: 8px 22px 17px 22px;
font-size: 16px;
font-family: 'FOT-筑紫A丸ゴシック Std R','TsukuARdGothicStd-R',sans-serif;
}
#contents .section .table tbody td strong {
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
color: #d9303c;
}
#contents .section .table tbody tr:last-child th {
background: url(../img/table_bg.png) no-repeat right top;
padding: 8px 20px 9px 20px;
}
#contents .section .table tbody tr:last-child td {
background: url(../img/table_bg.png) no-repeat left top;
padding: 8px 22px 9px 22px;
}


@media (min-width: 768px) {
	#contents {
	margin: 0 auto;
	padding: 203px 0 70px 0;
	width: 960px;
	}
	#contents .section {
	text-align: left;
	}
	#contents .section .block {
	margin-bottom: 68px;
	}
	#contents .section .image div {
	padding: 40px;
	}
	#contents .section .image .cap {
	margin-top: 22px;
	margin-bottom: 0;
	}
	#E1 #S1_IMG1 .div1 {
	width: 584px;
	padding: 43px 0 53px 0 !important;
	}
	#E1 #S1_IMG1 .div2 {
	padding: 43px 0 53px 0 !important;
	width: 584px;
	}
	#E1 #S1_IMG1 .div3 {
	position: absolute;
	padding: 93px 0 94px 0 !important;
	right: 0;
	top: 0;
	width: 370px;
	}
	#E1 #S1_IMG2 .div1 {
	margin-bottom: 25px !important;
	}
	#E1 #S1_IMG2 .div1 img {
	width: auto;
	height: auto;
	}
	#E1 #S1_IMG2 .div2 img {
	width: auto;
	height: auto;
	}
	#E1 #S1_IMG3 .div1 {
	text-align: left;
	}
	#E1 #S1_IMG4 .div1 img {
	width: 364px;
	height: auto;
	}
	#E2 #S1_IMG5 .div1 {
	padding: 50px 0 0 0;
	width: 478px;
	height: 300px;
	float: left;
	}
	#E2 #S1_IMG5 .div2 {
	padding: 50px 0 0 0;
	width: 478px;
	height: 300px;
	float: right;
	}
	#E2 #S2_IMG7 .div1 {
	padding: 55px 0 0 0;
	width: 478px;
	height: 378px;
	float: left;
	}
	#E2 #S2_IMG7 .div2 {
	padding: 55px 0 0 0;
	width: 478px;
	height: 378px;
	float: right;
	}
	#E5 #S1_IMG1 .div1,
	#E2 #S3_IMG1 .div1,
	#E2 #S3_IMG2 .div1,
	#E2 #S2_IMG6 .div1,
	#E2 #S2_IMG5 .div1,
	#E2 #S2_IMG4 .div1,
	#E2 #S2_IMG3 .div1,
	#E2 #S2_IMG2 .div1,
	#E2 #S2_IMG1 .div1,
	#E2 #S1_IMG4 .div1,
	#E2 #S1_IMG3 .div1,
	#E2 #S1_IMG2 .div1,
	#E2 #S1_IMG1 .div1 {
	text-align: left;
	}
	#E3 #S1_IMG1 .div1 {
	height: 300px;
	}
	#E3 #S1_IMG1 .div1 {
	padding: 90px 0 0 0;
	height: 300px;
	}
	#E3 #S3_IMG1 .div1 {
	padding: 95px 0 0 0;
	width: 478px;
	height: 300px;
	float: left;
	}
	#E3 #S3_IMG1 .div2 {
	padding: 90px 0 0 0;
	width: 478px;
	height: 300px;
	float: right;
	}
	#contents .section .code {
	background-color: #f7f7f5;
	border: solid 2px #e5e5e5;
	margin-bottom: 25px;
	padding: 14px 25px 18px 25px;
	}
}
