/* CONTENTS */
#SCT6 ul:after,
#SCT42 .image div:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
#SCT6 ul,
#SCT2 .image div {
zoom: 1;
}


body {
background-color: #fff;
text-align: center;
}
#container {
overflow: hidden;
}
#contents {
margin: 0 auto;
text-align: center;
}

#VISUAL {
position: relative;
width: 100%;
height: 100%;
}
#VISUAL .cont {
position: relative;
vertical-align: middle;
text-align: center;
width: 100%;
height: 100%;
}
#VISUAL .gmark {
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translateY(-110%);
transform: translateY(-110%);
margin-left: -60px;
font-size: 0;
letter-spacing: 0;
}
#VISUAL h1 {
position: absolute;
top: 50%;
left: 50%;
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
margin-left: -78px;
width: 156px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 32px;
line-height: 1.64;
text-align: left;
letter-spacing: 0.13em;
display: inline-block;
z-index: 1;
}
#VISUAL .down {
position: absolute;
left: 50%;
bottom: 40px;
margin-left: -10px;
font-size: 0;
letter-spacing: 0;
}
@media (min-width: 768px) {
	#VISUAL {
	position: relative;
	}
}

#SCT1 {
position: relative;
padding: 104px 0 95px 0;
}
#SCT1 .mask {
position: absolute;
left: 0;
top: 104px;
background: url(../img/mask.png) no-repeat left top;
background-position: 131px auto;
width: 131px;
height: 460px;
z-index: 5;
}
#SCT1 .jp::-webkit-scrollbar{
height: 0;
background: #f3f3ed;
}
#SCT1 .jp::-webkit-scrollbar-thumb{
background: #c5c5c5;
}
#SCT1 .jp {
-webkit-transition: color 2s ease;
-moz-transition: color 2s ease;
-o-transition: color 2s ease;
transition: color 2s ease;
position: relative;
overflow-x: auto;
overflow-y: hidden;
-webkit-overflow-scrolling: touch;
display: inline-block;
z-index: 1;
width: 100%;
height: 460px;
}
#SCT1 .jp div {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
padding: 0 100px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 18px;
text-align: justify;
text-justify: inter-ideograph;
line-height: 2.24;
letter-spacing: 0.05em;
z-index: 1;
}
#SCT1 .jp p {
margin-left: 36px;
}
#SCT1 .en {
padding: 0 20px 0 20px;
}
#SCT1 .en h2 {
margin-bottom: 62px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
#SCT1 .en p {
margin-bottom: 22px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 14px;
line-height: 1.59;
text-align: justify;
text-justify: inter-ideograph;
letter-spacing: 0.05em;
}
@media (min-width: 768px) {
	#SCT1 {
	padding: 130px 0 165px 0;
	}
	#SCT1 .jp {
	display: block;
	margin: 0 auto;
	overflow-x: inherit;
	overflow-y: inherit;
	width: 1190px;
	height: 460px;
	}
	#SCT1 .mask {
	display: none;
	}
	#SCT1 .jp div {
	padding: 0 36px 0 0;
	line-height: 2.22;
	z-index: 1;
	}
	#SCT1 .jp p {
	margin-left: 36px;
	}
	#SCT1 .en {
	margin: 0 auto;
	padding: 0;
	width: 960px;
	}
	#SCT1 .en .lead {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-gap: 40px;
	-ms-column-gap: 40px;
	column-gap: 40px;
	height: 220px;
	}
	#SCT1 .en p {
	margin-bottom: 30px;
	}
}

#NEWS {
padding: 24px 20px 40px 20px;
color: #d1cdc1;
line-height: 1;
}
#NEWS p {
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 18px;
}
#NEWS p strong {
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 18px;
}
#NEWS p .s1 {
position: relative;
top: 2px;
display: inline-block;
width: 250px;
height: 18px;
overflow: hidden;
color: #000;
}
#NEWS p .s1 span {
padding-left: 4em;
display: block;
float: left;
}
#NEWS p .s1 strong {
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
color: #d9303c;
}
#NEWS p .s2 {
position: relative;
top: 4px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 30px;
color: #d1cdc1;
}
@media (min-width: 768px) {
	#NEWS {
	}
	#NEWS p .s1 {
	width: 710px;
	}
}

#SCT2 {
padding-top: 112px;
}
#SCT3 .jp h2,
#SCT2 .jp h2 {
position: relative;
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
margin: 0 auto 76px auto;
width: 24px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 24px;
line-height: 24px;
text-align: left;
letter-spacing: 0.04em;
display: inline-block;
z-index: 1;
}
#SCT2 .jp .lead {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
-webkit-column-width: 16em;
-moz-column-width: 16em;
-ms-column-width: 16em;
column-width: 16em;
-moz-column-gap: 53px;
-webkit-column-gap: 53px;
-ms-column-gap: 53px;
column-gap: 53px;
margin: 0 auto;
padding-right: 14px;
height: 1080px;
display: inline-block;
}
#SCT3 .jp .lead {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
-webkit-column-width: 16em;
-moz-column-width: 16em;
-ms-column-width: 16em;
column-width: 16em;
-moz-column-gap: 53px;
-webkit-column-gap: 53px;
-ms-column-gap: 53px;
column-gap: 53px;
margin: 0 auto;
height: 795px;
display: inline-block;
}
#SCT3 .jp .lead br {
display: none;
}
#SCT3 .jp .lead p,
#SCT2 .jp .cont p {
margin-left: 28px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 16px;
line-height: 1.95;
text-align: left;
letter-spacing: 0.04em;
}
#SCT2 .en {
padding: 100px 20px 0 20px;
}
#SCT3 .en {
padding: 83px 0 0 0;
}
#SCT3 .en .lead {
padding: 0 20px;
}
#SCT3 .en h2,
#SCT2 .en h2 {
margin-bottom: 53px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 16px;
line-height: 2;
letter-spacing: 0.06em;
}
#SCT3 .en p,
#SCT2 .en p {
margin-bottom: 22px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 14px;
line-height: 1.59;
text-align: justify;
text-justify: inter-ideograph;
letter-spacing: 0.05em;
}
#SCT2 .image {
padding: 58px 20px 0 20px;
}
#SCT2 .image img {
margin-bottom: 50px;
width: 100%;
height: auto;
}
#SCT3 .jp .list {
padding: 58px 20px 0 20px;
}
#SCT3 .en .list {
padding: 36px 20px 0 20px;
}
#SCT3 .list dl {
background-color: #f4f4f0;
margin-bottom: 7px;
padding: 25px 20px 23px 20px;
text-align: left;
}
#SCT3 .list dt {
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 14px;
}
#SCT3 .list dt:after {
content: "";
border-bottom: solid 2px #000;
margin-top: 18px;
margin-bottom: 10px;
width: 11px;
display: block;
}
#SCT3 .list dd {
padding-left: 11px; 
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 14px;
line-height: 2;
text-indent: -1em;
}
@media (min-width: 768px) {
	#SCT2 {
	padding-top: 156px;
	}
	#SCT3 {
	padding: 146px 0 0 0;
	}
	#SCT2 .jp .lead {
	margin: 0 auto;
	padding-right: 28px;
	height: 300px;
	}
	#SCT3 .jp .lead {
	margin: 0 auto;
	padding-right: 28px;
	height: 360px;
	}
	#SCT3 .jp .lead br {
	display: block;
	}
	#SCT2 .en {
	margin: 0 auto;
	padding: 104px 0 0 0;
	width: 960px;
	}
	#SCT3 .en {
	margin: 0 auto;
	padding: 102px 0 0 0;
	width: 960px;
	}
	#SCT2 .en .lead {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-gap: 40px;
	-ms-column-gap: 40px;
	column-gap: 40px;
	padding: 0;
	height: 340px;
	}
	#SCT3 .en .lead {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-gap: 40px;
	-ms-column-gap: 40px;
	column-gap: 40px;
	padding: 0;
	height: 250px;
	}
	#SCT3 .en p,
	#SCT2 .en p {
	margin-bottom: 30px;
	}
	#SCT2 .image {
	margin: 0 auto;
	padding: 114px 0 0 0;
	width: 960px;
	}
	#SCT2 .image .div1 {
	width: 456px;
	float: left;
	}
	#SCT2 .image .div2 {
	width: 456px;
	float: right;
	}
	#SCT2 .image img {
	margin-bottom: 50px;
	width: 100%;
	height: auto;
	}
	#SCT3 .jp .list {
	margin: 0 auto;
	padding: 13px 0 0 0;
	width: 960px;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-webkit-flexbox;
	display:-moz-flexbox;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	}
	#SCT3 .en .list {
	margin: 0 auto;
	padding: 55px 0 0 0;
	width: 960px;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-webkit-flexbox;
	display:-moz-flexbox;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	}
	#SCT3 .list dl {
	box-sizing: border-box;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 27px 37px 27px 37px;
	width: 476px;
	float: left;
	}
	#SCT3 .list dl:nth-child(2n) {
	margin-right: 0;
	}
	#SCT3 .list dt:after {
	margin-top: 16px;
	margin-bottom: 13px;
	}
}

#SCT4 {
padding: 138px 20px 0 20px;
}
#SCT4 h2 {
position: relative;
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
margin: 0 auto 68px auto;
width: 66px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 24px;
line-height: 1.43;
text-align: left;
letter-spacing: 0.04em;
display: inline-block;
z-index: 1;
}
#SCT4 .logo {
position: relative;
margin: 0 auto 98px auto;
width: 233px;
height: 284px;
}
#SCT4 .logo img {
width: 233px;
height: auto;
}
#SCT4 .logo h3 {
position: absolute;
left: -200px;
top: 185px;
-webkit-transform: scale(0.368);
-moz-transform: scale(0.368);
transform: scale(0.368);
padding-top: 6px;
width: 633px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 50px;
text-align: justify;
text-justify: inter-ideograph;
text-align-last: justify;
line-height: 1.0;
color: #1b2437;
}
#SCT4 .logo h3 span {
position: relative;
}
#SCT4 .logo h3 .s1 {
font-size: 80px;
letter-spacing: 3px;
}
#SCT4 .logo h3 .s1 .w1 {left: 0;}
#SCT4 .logo h3 .s1 .w2 {left: 2px;}
#SCT4 .logo h3 .s1 .w3 {left: 6px;}
#SCT4 .logo h3 .s1 .w4 {left: 0;}
#SCT4 .logo h3 .s1 .w5 {left: -5px;}
#SCT4 .logo h3 .s1 .w6 {left: -12px;}
#SCT4 .logo h3 .s1 .w7 {left: -7px;}
#SCT4 .logo h3 .s1 .w8 {left: -2px;}
#SCT4 .logo h3 .s1 .w9 {left: 2px;}
#SCT4 .logo h3 .s2 {
font-size: 46px;
-webkit-text-stroke-color: #000;
-webkit-text-stroke-width: 1px;
text-shadow:
-0.1px -0.1px 0 #000,
0.1px -0.1px 0 #000,
-0.1px 0.1px 0 #000,
0.1px 0.1px 0 #000;
line-height: 1.3;
}
#SCT4 .logo h3 .s2 .w1 {left: 1px;}
#SCT4 .logo h3 .s2 .w2 {left: 5px;}
#SCT4 .logo h3 .s2 .w3 {left: 8px;}
#SCT4 .logo h3 .s2 .w4 {left: -14px;}
#SCT4 .logo h3 .s2 .w5 {left: -12px;}
#SCT4 .logo h3 .s2 .w6 {left: -10px;}
#SCT4 .logo h3 .s2 .w7 {left: -5px;}
#SCT4 .logo h3 .s2 .w8 {left: 0;}
#SCT4 .logo h3 .s2 .w9 {left: 2px;}
#SCT4 .logo h3 .s2 .w10 {left: 4px;}
#SCT4 .logo h3 .s2 .w11 {left: 7px;}
#SCT4 .logo h3 .s2 .w12 {left: 7px;}
#SCT4 .logo h3 .s2 .w13 {left: 10px;}
#SCT4 .logo h3 .s2 .w14 {left: -13px;}
#SCT4 .logo h3 .s2 .w15 {left: -9px;}
#SCT4 .logo h3 .s2 .w16 {left: -4px;}
#SCT4 .logo h3 .s3 {
letter-spacing: 4px;
-webkit-text-stroke-color: #000;
-webkit-text-stroke-width: 1px;
text-shadow:
-0.1px -0.1px 0 #000,
0.1px -0.1px 0 #000,
-0.1px 0.1px 0 #000,
0.1px 0.1px 0 #000;
line-height: 1.2;
}
#SCT4 .logo h3 .s3 .w1 {left: 0;}
#SCT4 .logo h3 .s3 .w2 {left: 0;}
#SCT4 .logo h3 .s3 .w3 {left: 0;}
#SCT4 .logo h3 .s3 .w4 {left: 0;}
#SCT4 .logo h3 .s3 .w5 {left: 1px;}
#SCT4 .logo h3 .s3 .w6 {left: 2px;}
#SCT4 .logo h3 .s3 .w7 {left: 2px;}
#SCT4 .logo h3 .s3 .w8 {left: 5px;}
#SCT4 .logo h3 .s3 .w9 {left: -7px;}
#SCT4 .logo h3 .s3 .w10 {left: -6px;}
#SCT4 .logo h3 .s3 .w11 {left: -4px;}
#SCT4 .logo h3 .s3 .w12 {left: -3px;}
#SCT4 .logo h3 .s3 .w13 {left: -2px;}
#SCT4 .logo h3 .s3 .w14 {left: -1px;}
#SCT4 .logo h3 .s3 .w15 {left: 0;}
#SCT4 .logo h3 .s3 .w16 {left: 0;}

#SCT4 .en {
padding: 60px 0 0 0;
}
#SCT4 .jp p {
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 16px;
line-height: 2;
text-align: left;
}
#SCT4 .en p {
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 14px;
line-height: 1.87;
text-align: justify;
text-justify: inter-ideograph;
}
#SCT4 .jp p.btn {
margin: 27px 0 31px 0;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 16px;
line-height: 55px
}
#SCT4 .en p.btn {
margin: 28px 0 37px 0;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 14px;
line-height: 1.3;
}
#SCT4 p.btn a {
position: relative;
box-sizing: border-box;
border: solid 1px #b5b29d;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
display: block;
padding-right: 50px;
height: 55px;
text-decoration: none;
color: #1b2437;
text-align: center;
overflow: hidden;
}
#SCT4 .en p.btn a {
padding-top: 8px;
}
#SCT4 p.btn a:after {
content: "";
display: block;
position: absolute;
right: 0;
top: 0;
background: #b5b29d url(../img/icn_arrow.png) no-repeat center center;
background-size: 22px auto;
width: 50px;
height: 55px;
color: #fff;
}
#SCT4 .jp dt {
border-bottom: solid 1px #b5b29d;
margin-bottom: 14px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 16px;
line-height: 1.2;
text-align: center;
color: #b5b29d;
display: inline-block;
}
#SCT4 .en dt {
border-bottom: solid 1px #b5b29d;
margin-bottom: 13px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 14px;
line-height: 1.2;
text-align: center;
color: #b5b29d;
display: inline-block;
}
#SCT4 .jp dd {
margin-top: 10px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 14px;
line-height: 2;
text-align: center;
}
#SCT4 .en dd {
margin-top: 10px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 12px;
line-height: 1.6;
text-align: center;
}
#SCT4 dd a {
text-decoration: none;
color: #1b2437;
}
@media (min-width: 768px) {
	#SCT4 {
	margin: 0 auto;
	padding: 192px 0 0 0;
	width: 1080px;
	}
	#SCT4 h2 {
	margin: 0 auto 73px auto;
	}
	#SCT4 .jp {
	padding: 36px 0 0 0;
	width: 490px;
	float: left;
	}
	#SCT4 .en {
	padding: 36px 0 0 0;
	width: 490px;
	float: right;
	}
	#SCT4 .jp p {
	height: 130px;
	}
	#SCT4 .en p {
	height: 130px;
	}
	#SCT4 .jp p.btn {
	margin: 0 auto 45px auto;
	height: 55px;
	}
	#SCT4 .en p.btn {
	margin: 0 auto 45px auto;
	height: 55px;
	}
	#SCT4 .jp dt {
	margin-bottom: 4px;
	}
	#SCT4 .en dt {
	margin-bottom: 4px;
	}
	#SCT4 .jp dd {
	margin-top: 6px;
	}
	#SCT4 .en dd {
	margin-top: 14px;
	}
}

#SCT5 {
padding: 144px 20px 0 20px;
}
#SCT5 .jp h2 {
position: relative;
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
margin: 0 auto 59px auto;
width: 24px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 24px;
line-height: 24px;
text-align: left;
letter-spacing: 0.04em;
display: inline-block;
z-index: 1;
}
#SCT5 p {
margin-bottom: 30px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 18px;
line-height: 1.68;
text-align: left;
}
#SCT5 .block {
-webkit-transition: opacity 0.3s ease;
-moz-transition: opacity 0.3s ease;
-o-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
background: #f4f4f0 url(../img/icn_link.png) no-repeat right center;
background-size: auto 12px;
margin-bottom: 7px;
padding: 13px 50px 15px 20px;
text-align: left;
cursor: pointer;
}
#SCT5 .jp .block h3 {
margin: 1px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 18px;
line-height: 2;
}
#SCT5 .jp .block p {
margin: 0;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 16px;
line-height: 2;
}
#SCT5 .en .block h3 {
margin: 1px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 14px;
line-height: 2;
}
#SCT5 .en .block p {
margin: 0;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 12px;
line-height: 2;
}
#SCT5 .block a {
text-decoration: none;
color: #1b2437;
}
#SCT5 .en {
padding: 58px 0 0 0;
}
#SCT5 .en h2 {
margin-bottom: 30px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 16px;
line-height: 2;
letter-spacing: 0.06em;
text-align: center;
}
@media (min-width: 768px) {
	#SCT5 {
	margin: 0 auto;
	padding: 182px 0 0 0;
	width: 900px;
	}
	#SCT5 .jp h2 {
	margin: 0 auto 86px auto;
	}
	#SCT5 p {
	margin-bottom: 43px;
	text-align: center;
	}
	#SCT5 .block {
	background-size: auto 15px;
	margin-bottom: 2px;
	padding: 11px 50px 13px 20px;
	}
	#SCT5 .block.hover {
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	}
	#SCT5 .jp .block p {
	margin: -4px 0 0 0;
	text-align: left;
	}
	#SCT5 .en .block p {
	margin: -4px 0 0 0;
	text-align: left;
	}
	#SCT5 .block a {
	text-decoration: none;
	color: #1b2437;
	}
	#SCT5 .en {
	padding: 108px 0 0 0;
	}
	#SCT5 .en h2 {
	margin-bottom: 60px;
	}
}

#SCT6 {
padding: 138px 20px 92px 20px;
}
#SCT6 h2 {
position: relative;
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
margin: 0 auto 68px auto;
width: 66px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 24px;
line-height: 1.43;
text-align: left;
letter-spacing: 0.04em;
display: inline-block;
z-index: 1;
}
#SCT6 .block {
margin-bottom: 58px;
text-align: left;
}
#SCT6 .block .image {
margin-bottom: 22px; 
}
#SCT6 .block .image img {
display: block;
box-sizing: border-box;
border: solid 1px #b5b29d;
width: 100%;
height: auto;
}
#SCT6 .block h3 {
margin-bottom: 3px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 20px;
line-height: 2;
letter-spacing: 0.07em;
}
#SCT6 .block h3 a {
text-decoration: none;
color: #1b2437;
}
#SCT6 .block p {
margin-bottom: 10px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 16px;
line-height: 1.89;
letter-spacing: 0.07em;
}
#SCT6 .block p.credit {
font-size: 14px;
line-height: 20px;
}
#SCT6 .block p.credit span {
display: inline-block;
background-color: #d60d21;
margin-bottom: 0;
padding: 0 4px;
height: 20px;
color: #fff;
}
#SCT6 ul.btn {
margin: 27px 0 31px 0;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 16px;
line-height: 55px;
height: 55px;
}
#SCT6 ul.btn li {
margin-bottom: 30px;
}
#SCT6 ul.btn a {
position: relative;
box-sizing: border-box;
border: solid 1px #b5b29d;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
display: block;
padding-right: 50px;
height: 55px;
text-decoration: none;
color: #1b2437;
text-align: center;
overflow: hidden;
}
#SCT6 ul.btn a:after {
content: "";
display: block;
position: absolute;
right: 0;
top: 0;
background: #b5b29d url(../img/icn_arrow.png) no-repeat center center;
background-size: 22px auto;
width: 50px;
height: 55px;
color: #fff;
}
@media (min-width: 768px) {
	#SCT6 {
	margin: 0 auto;
	padding: 196px 0 127px 0;
	width: 1080px;
	}
	#SCT6 h2 {
	margin: 0 auto 93px auto;
	}
	#SCT6 .list {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-webkit-flexbox;
	display:-moz-flexbox;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	}
	#SCT6 .block {
	margin-bottom: 88px;
	margin-right: 68px;
	text-align: left;
	width: 314px;
	float: left;
	}
	#SCT6 .block:nth-child(3n) {
	margin-right: 0;
	}
	#SCT6 .block p.credit {
	margin-top: -5px;
	font-size: 14px;
	line-height: 20px;
	}
	#SCT6 ul.btn {
	margin: 0 auto;
	width: 860px;
	}
	#SCT6 ul.btn .li1 {
	width: 400px;
	float: left;
	}
	#SCT6 ul.btn .li2 {
	width: 400px;
	float: right;
	}
}