$color-cell-first:  #c3ffe2;
$color-cell-second: #ddfff9;
$color-cell-third:  #dfffd4;

$text-color: #646464;

$link-color: $text-color;
$link-hover-color: #ff7ea5;

$font-family-serif: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$font-family-base: $font-family-serif !default;

$color-accent: #ffa4c0;

$spacer: 1em;
$spacer-md: 2em;
$spacer-lg: 3em;

$navbar-height: 100px;
$navbar-default-border: 0px;
$navbar-border-radius: 0px;
$navbar-inverse-border: transparent;
$navbar-default-bg: #fff;
$navbar-inverse-bg: #444444;
$navbar-margin-bottom: 0;
$nav-link-padding: 20px 15px;