// flex-box
// -----------------
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.f-row {
  flex-grow:1;
  flex-direction: row;
  flex-basis: 280px;

}

.item-block {
  float: right;
  @include wm-vrl;
  padding: 1em;
  .item-heading {
  	margin-left: $spacer;
  	font-family: $font-family-sans-serif;
  	font-weight: bold;
  	text-align: left;
  }
  text-align: justify;
  word-break: break-word;
  font-family: $font-family-serif;
  height: 28em;
  .item-body {
    font-size: .9em;
    line-height: 1.5;
  }
}

.item-img-container {
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: $spacer;
  &:hover {
    //outline: 4px solid $gray;
  }
}

@media (min-width: $screen-xs-max) {
  .f-row {
    flex-grow:1;
    flex-direction: row;
    flex-basis: 320px;
  }
  .item-block {
    height: 26em;
  }
  .item-img-container {
    width: 6em;
    height: 6em;
  }
}

.f-row-odd {
  //background: #f8f8f8;
  background: #fff;
}

.f-row-even {
  //color: white;
  background: #fff;
}
