#header {
  .navbar-nav {
  	float: none;
  	width: 100%;
  	margin: auto;
    font-family: $font-family-top;
  }
  .nav > li {
  	display: inline-block;
    &:nth-child(2n) {
      > a:before {
      	  background-image: url('../images/awards/daiya_blue.png');
      }
    }
  	> a {
      display: inline-block;
      font-size: 1.3em;
      &:before {
      	display: inline-block;
      	position: relative;
      	top: 2px;
      	width: 1em;
      	height: 1em;
      	margin-right: .5em;
      	background-image: url('../images/awards/daiya.png');
    	  background-repeat: no-repeat;
    	  background-position: center center;
    	  background-size: contain;
    	  content: "";
      }
    }
  }
}

.navbar-brand {
  position: relative;
  padding-top: 30px;
  .brand-text {
    display: inline-block;
    padding-left: 1.5rem;
    position: relative;
    //bottom: 10px;
    font-size: 1.2rem;
    font-family: $font-family-top;
    font-weight: bold;
    line-height: 1.32rem;
    height: 4rem;
  }
  img {
    display: inline-block;
    position: relative;
    bottom: 14px;
  }
}

@media (min-width: 768px) {
  #header {
    .navbar-nav > li {
      float: none;
    }
  }
}
//@media (max-width: $screen-sm-max) {
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}