// Sections
// -----------------
.section {
  padding: 2em 0;
}
.section-header {
  margin-top: $spacer-lg;
  margin-bottom: $spacer-lg;
  //padding-left: 5.5rem;
  padding-left: 2.71em + $spacer;
  //background-image: url('../images/awards/section-heading.png');
  background-image: url('../images/awards/midashi_triangle.png');
  background-repeat: no-repeat;
  background-position: left center;
}
.section-heading {
  margin: 0;
  font-size: 2.5em;
  line-height: 1.2;
  font-family: $font-family-top;
  font-weight: bold;
}
.section-subheading {
  margin-top: $spacer / 4;
  font-family: $font-family-top;
  font-size: 1.25em;
  line-height: 1.2;
  font-weight: normal;
  color: lighten($gray-light, 10%);
}

.subsection-header {
  margin-bottom: $spacer-md;
  padding-left: 3rem;
  background-image: url('../images/awards/daiya.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 1.2em;
}

.subsection-heading {
  font-size: 1.3em;
  font-family: $font-family-top;

}

.section-header-notice {
  .section-heading {
    font-family: $font-family-top;
    font-size: 2em;
  }
}

