.sponser-img-container {
  display: block;
  cursor: pointer;
  width: 255px;
  max-width: 100%;
  height: 60px;
  margin-bottom: $spacer / 2;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  //margin-left: $spacer;
  &:hover {
    //outline: 4px solid $gray;
  }
}

.sponser-img-caption {
  padding-left: 1.25em;
  line-height: 28px;
  font-family: $font-family-sans-serif;
  background-image: url('../images/awards/green_right.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.sponser-list {
  text-align: center;
  .sponser-img-caption {
  	text-align: left;
  }
}

@media (min-width: $screen-xs-max) {
  .sponser-list {
    text-align: left;
  }
}