.table {
  > thead, > tbody, > tfoot {
    > tr{
    	> th, > td {
    	  height: $spacer * 6;
    	  vertical-align: middle;
    	  border: 0;
      }
    } 
  }
}

.table {
  font-family: $font-family-sans-serif;
  th {
  	font-size: .9em;
    font-weight: normal;
    vertical-align: center;
  }
  th, td {
    p, dt, dd {
      line-height: 1.6;
    }
    p {
      margin-bottom: $spacer;
    }
    dl {
      margin-top: $spacer;
      margin-left: 1em;
    }
    dd {
      padding-left: 1em;
    }
  }
}

.application-table {
  > thead, > tbody, > tfoot {
    > tr{
    	> th, > td {
    	  border: 10px solid #f8f8f8;
        text-align: justify;
      }
    } 
  }
}

.table.event-table {
  > thead, > tbody, > tfoot {
    > tr {
    	> th, > td {
    	  border: 10px solid $body-bg;
      }
    } 
  }
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    line-height: 1.6;
}

// Cell color
.table {
  tr:nth-child(3n+1) th {
  	background-color: $color-cell-first;
  }
  tr:nth-child(3n+2) th {
  	background-color: $color-cell-second;
  }
  tr:nth-child(3n+0) th {
  	background-color: $color-cell-third
  }
}

@media (min-width: $screen-xs-max) {
  .table {
    th {
      text-align: center;
    }
  }
}
