---
layout: default
ex_items:
  - name: くらげごはん
    img: kurage.png
    description: 個人ブログのレシピ集。お品書き風のレシピ一覧と各レシピが書籍のように縦書きでデザインされている。
    url: http://kurage.hatenablog.com/archive
    creators: 
      - KAZUYUKI MOTOYAMA
  - name: 自作ゲーム大年表
    img: dowango.png
    description: コンピュータ黎明期からの個人・グループ作成ゲームに関する年表。年表部分が縦書きにて記載。
    url: http://info.nicovideo.jp/indies-game-fest/history/
    creators:
      - hiroki_yo
      - 長澤美郷
  - name: Writer
    img: nitro_blog.png
    description: 縦書き日記風のはてなブログ用テーマ。CSSで細かくデザインも指定できる。
    url: http://blog.hatena.ne.jp/-/store/theme/11696248318752473050
    creators:
      - nitro_idiot
  - name: あけおめ企画
    img: mochi.png
    description: CSSのみを用いた縦書きの年賀状。サンプルコードと詳しい解説あり。
    url: http://tmlife.net/web/css/css-nengazyou.html
    creators:
      - phi
  #- name: 名前５
  #  img: http://placehold.it/128x128
  #  description: それもまるで沓は永くものたと足はいきなりよくんたう。「毎晩のいまの茎に。し。」おまえはしばらくなんたます。
  #  url: http://ex.com
  #- name: 名前６
  #  img: http://placehold.it/128x128
  #  description: 勢はセロへやめから前まし。それからこんどはもうすましまし。面白いきょろきょろましと走って来てトマトをひけようた狸を見でするとむっとマッチが毛教えたます。
  #  url: http://ex.com
---

{% include tategaki/top.html %}

{% include tategaki/notice.html %}

{% include tategaki/social_buttons.html %}

{% include tategaki/what_is.html %}

{% include tategaki/commentaries.html %}

{% include tategaki/examples.html %}

{% include tategaki/ex.html %}

{% include tategaki/about.html %}
