<section id="about" class="section">
  	<div class="m-col-container">
    <h2 class="section-heading-vertical">縦書きWeb普及委員会について</h2>

    <p>縦書きWeb普及委員会（正式名称：次世代Webブラウザのテキストレイアウトに関する検討会）は、電子書籍端末メーカー、印刷事業社、通信事業者などの民間企業等により構成される組織で、Webにおける縦書きやルビ等の日本語固有の表現の実現に関し、国際標準化や普及促進に関する活動を行っています。</p>

    <p>縦書きに代表されるような日本語固有のテキストレイアウトの表示機能がWebブラウザに実装され、端末に依ることなく縦書き表現が利用できるようにすることは、日本の文化である縦書き表現を継承する観点や、世界に向けた日本語コンテンツの発信を維持・強化する観点から、非常に重要な事柄です。</p>

    <p>Webブラウザに関する国際標準化団体であるW3C（World Wide Web Consortium）では、Webページの記述方式であるHTMLやCSS等の標準化作業が進められていますが、日本の雑誌や書籍等で表現される縦書きテキストレイアウトの表示機能についてもWebブラウザの基本機能となるよう標準化議論が進められています。</p>

    <p>縦書きWeb普及委員会は上記のW3Cの標準化議論に日本からの貢献を行うとともに、縦書き等の日本語固有の表現を利用したWebコンテンツの普及促進に取り組んでいます。</p>

    </div>
</section>