<section id="commentaries" class="section">
    <header class="text-center section-header">
      <h3 class="section-heading">技術解説</h3>
      <p class="section-subheading">本叢書は洽ねく大家の手に成るもの、或は青年の必讀書として世に傳はるものゝ中より、特に我青年諸氏に利益と快樂とを與ふるものを撰拔せり。</p>
    </header>
  <div class="container">

  	<div class="tanzaku">
     {% for post in site.categories.commentaries reversed limit:5 %}
  	   <a class="tanzaku-item" href="{{ post.url }}">
  	   	<div class="tanzaku-item-block">
  	   	  <div class="tanzaku-item-heading">
    	    {{ post.title }}
    	  </div>
  	   	  <div class="tanzaku-item-body">
    	  フィッシュフック付きＲ小文字，有声歯茎弾き音
    	  </div>
    	</div>
  	   </a>
  	 {% endfor %}
  	</div>
</section>