<section id="examples2" class="section">
    <header class="text-center section-header">
      <h3 class="section-heading">縦書きWebコンテンツの例</h3>
      <p class="section-subheading">小説や雑誌など、普段目にする縦書き文書をCSSを用いて作成してみました。</p>
    </header>
  <div class="container">
    <div class="tanzaku">
      <a class="tanzaku-item" href="{{ site.baseurl }}examples/novel-faraday/faraday.html">
        <div class="tanzaku-item-block">
          <div class="tanzaku-item-heading">
           小説
          </div>
          <div class="tanzaku-item-body">
          青空文庫収録の『ファラデーの伝』の一部を抜粋して縦書きのスタイルシートを適用しました。
          </div>
        </div>
      </a>
      <a class="tanzaku-item" href="{{ site.baseurl }}examples/koho/koho.html">
        <div class="tanzaku-item-block">
          <div class="tanzaku-item-heading">
           雑誌
          </div>
          <div class="tanzaku-item-body">
          総務省広報誌平成二十六年十一月号のレイアウトをＣＳＳを用いて作成してみました。<br />
          出典（総務省広報誌平成26年11月号p22-23）
          </div>
        </div>
      </a>
      <a class="tanzaku-item" href="{{ site.baseurl }}examples/kanpo/inmarsat.html">
        <div class="tanzaku-item-block">
          <div class="tanzaku-item-heading">
          法令
          </div>
          <div class="tanzaku-item-body">
          平成二十六年総務省告示百七十九号を縦書きでレイアウトしたものです。
          </div>
        </div>
      </a>
    </div>
  </div>
</section>