<section id="examples2" class="section">
  <div class="container">
    <header class="text-center section-header">
      <h3 class="section-heading">事例紹介</h3>
    </header>
    <div class="tanzaku">
      <a class="tanzaku-item" href="{{ post.url }}">
        <div class="tanzaku-item-content">
          <div class="tanzaku-item-heading">
          総務省官報
          </div>
          <div class="tanzaku-item-body">
          総務省告示第百七十九号を縦書きでレイアウトしたものです。
          </div>
        </div>
      </a>
      <a class="tanzaku-item" href="{{ post.url }}">
        <div class="tanzaku-item-content">
          <div class="tanzaku-item-heading">
          『ファラデーの伝』
          </div>
          <div class="tanzaku-item-body">
          青空文庫収録の『ファラデーの伝』の一部を抜粋して縦書きのスタイルシートを適用しました。
          </div>
        </div>
      </a>
      <a class="tanzaku-item" href="{{ post.url }}">
        <div class="tanzaku-item-content">
          <div class="tanzaku-item-heading">
          総務省広報
          </div>
          <div class="tanzaku-item-body">
          縦書き段組でレイアウトされた総務省広報誌の紙面をＨＴＭＬで表現しました。
          </div>
        </div>
      </a>
    </div>
</section>