<section class="section" id="examples">
    <header class="text-center section-header">
      <h3 class="section-heading">CSSによる縦書きWebサイト</h3>
      <p class="section-subheading">CSSによる縦書きを使用してデザインされたWebサイトを紹介します。</p>
    </header>
  <div class="container">

    <div class="flex">
    {% for ex_item in page.ex_items %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      <div class="f-row f-row-{{thecycle}}">
        <div class="item-block">
          <a href="{{ex_item.url}}">
          <div class="item-img-container" style="background-image:url('{{ site.baseurl }}images/tategaki/examples/{{ex_item.img}}')">
          </div>
          </a>
          <div class="item-heading">{{ex_item.name}}</div>
          <div class="item-body">
            <p>{{ex_item.description}}</p>
            <ul class="creator-list">
              <li>制作</li>
              {% for creator in ex_item.creators %}
                <li>{{creator}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
