<section id="notice" class="section">
  <div class="container">
  	<header class="text-center section-header">
  	  <h3 class="section-heading">お知らせ</h3>
  	  <p class="section-subheading">Information</p>
  	</header>
  	<div class="row">
  	  <div class="col-md-8 col-md-offset-2">
  	    <ol class="list-unstyled notice-list">
  	    	{% for post in site.categories.notice reversed limit:5 %}
  	    	  <li class="notice-list-item">
  	    		<a href="{{ post.url }}">{{ post.date | date: "%Y.%m.%d" }} {{ post.title }}</a>
  	    	  </li>
  	    	{% endfor %}
  	    </ol>
  	  </div>
  	</div>
  </div>
</section>