<div class="text-center social-button-container">
  <div class="inline-button">
    <a class="btn btn-twitter" href="https://twitter.com/share?text={{ site.title | uri_escape }}&amp;url={{ site.url}}{{ site.baseurl }}{{ page.path }}"><span class="fa fa-twitter"></span> | Twitter</a>
    <a class="btn btn-facebook" href="http://www.facebook.com/share.php?u={{ site.url}}{{ site.baseurl}}{{ page.path }}"><span class="fa fa-facebook"></span> | Facebook</a>
    <a class="btn btn-google-plus" href="https://plus.google.com/share?url={{ site.domain_name }}{{ site.baseurl}}{{ page.path }}"><span class="fa fa-google-plus"></span> | Google Plus</a>
  </div>
</div>