<section id="what_is" class="section">
    <header class="text-center section-header">
      <h3 class="section-heading">縦書きWebとは</h3>
    </header>
    <div class="m-col-container">
      <h2 class="section-heading-vertical">Webは横書きが当たり前？</h2>

      <p>ウェブサイトは横書きしかできない。そんな常識は変化しつつあります。</p>

      <p>ウェブにおける縦書きの取り組みは、Internet Explorer 5.5（二〇〇〇年）による独自の実装がありましたが、標準的・実用的なものにならないまま停滞が続きました。</p>

      <p>しかし二〇一〇年以降、W3C CSS Working Group による仕様策定が活発化し、ブラウザベンダーによる実装や、有志によるテストなどの協力の成果として、最新の主要なウェブブラウザは縦書きを表現できるようになっています。</p>

      <p>私たちは縦書きをウェブの世界でどのように役立てることができるのでしょうか。</p>

      <p>当サイトでは、CSS Writing Modes を中心に、ウェブサイトで縦書きをはじめとする日本語レイアウトを実現するための技術解説と、縦書きを利用したウェブサイトの事例を紹介します。</p>

      <p>当サイトのコンテンツが、縦書きを利用した新しいウェブデザイン探求の一助となることを願っています。</p>

    </div>
</section>