<!--
<section id="what_is" class="section">
  	<div class="m-col-container">
    <h2 class="section-heading-vertical">縦書きWebとは</h2>

    <p>ブラウザ上で縦書きのデザインを実現する方法が、CSS writing-mode。ここではwriting-modeを使った縦書きWebを制作する際の関連知識の解説と、実際にCSSで縦書きを使った事例を紹介します。※ご利用のブラウザによってはうまく再現されない場合もあります。</p>
    
    <p><small>※コンテンツは随時更新予定です。</small></p>

    </div>
</section>
-->

<section id="what_is" class="section">
  	<div class="container">
    <h2 class="section-heading-vertical">縦書きWebとは</h2>

    <p>ブラウザ上で縦書きのデザインを実現する方法が、CSS writing-mode。ここではwriting-modeを使った縦書きWebを制作する際の関連知識の解説と、実際にCSSで縦書きを使った事例を紹介します。※ご利用のブラウザによってはうまく再現されない場合もあります。</p>
    
    <p><small>※コンテンツは随時更新予定です。</small></p>

    </div>
</section>