$font-family-serif: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$font-family-base: $font-family-serif !default;

$color-accent: #ffa4c0;

$spacer: 1em;
$spacer-md: 2em;
$spacer-lg: 3em;