@mixin wm-htb {
    -webkit-writing-mode: horizontal-tb;
    -moz-writing-mode: horizontal-tb;
    -ms-writing-mode:lr-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
}

@mixin wm-vrl {
    -webkit-writing-mode:vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode:tb-rl;
    -ms-writing-mode:vertical-rl;
    writing-mode: vertical-rl;
}

$set-prefix: '' , -moz- , -webkit-, -ms-;

@mixin prop-set-prefix($name, $value) {
  @each $prefix in $set-prefix {
    #{$prefix}#{$name}: $value;
  }
}

