// Writing Modes
// -----------------
.vert {
  @include wm-vrl;

  p {
    margin: 0 0 0 1em;
    text-indent: 1em;
  }
}

.hol {
  @include wm-htb;
}

.tcy {
  @include prop-set-prefix(text-combine, horizontal);
  @include prop-set-prefix(text-combine-horizontal, all);
}

// Notice
// -----------------
#notice {
  //background: #e2e2e2;
  background: lighten($gray-lighter, 2%);
}
.notice-list {
  margin: 0 1em;
  border-radius: 3px;
  padding: 1em;
  background-color: #fff;
}
.notice-list-item {
  margin-bottom: 5px;
  a {
  	color: inherit;
    &:before {
    	width: .8em;
    	height: .8em;
    	margin-right: .5em;
    	display: inline-block;
    	background-image: url('../images/tategaki/right_orange.png');
    	background-repeat: no-repeat;
    	background-position: center bottom;
    	background-size: contain;
    	content: "";
    }
  }
}


@media (max-width: 500px) {
  .f-row-odd {
    //background-image: url('http://placehold.it/128x128');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  .f-row-even {
    //background-image: url('http://placehold.it/128x128');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}

#logo-type-img {
  position: relative;
  bottom: 3px;
  height: 35px;
  margin-right: 5px;
  vertical-align: middle;
}

.site-title {
  margin: 0;
  padding: 20px 0;
  background-color: $navbar-inverse-bg;
  font-size: 25px;
  a {
  	color: #fff;
  	text-decoration: none;
  }
}

.btn {
  font-family: $font-family-sans-serif;
}

.inline-button {
  .btn {
    margin-bottom: $spacer;
  }
}
.social-button-container {
  margin-top: $spacer-lg;
  padding-top: $spacer;
  //background: $navbar-inverse-bg;
  
  background-color: darken($gray-lighter,5%);
}

.creator-list {
  margin-top: 0;
  margin-right: $spacer;
  padding-top: 1em;
  list-style-type: none;
  li {
    display: inline-block;
    padding-bottom: 1em;
    font-size: .9em;
    font-family: $font-family-sans-serif;
    line-height: 1.5;
    color: $gray;
  }
}

#note {
  //margin-top: $spacer-lg;
  padding: $spacer-md 0;
  background: $gray-lighter;
  color: #333;
  a {
    color: inherit;
  }
}

.note-list {
  margin-bottom: 0;
  font-family: $font-family-sans-serif;
  font-size: .75em;
}
