#t {
  display: flex;
  position: relative;
  min-width: 100%;
  min-height: 30em;
  //margin-top: 2em;
  //margin-bottom: 2em;
  background-image: url('../images/tategaki/background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.sbody {
  margin: auto;
  width: 80px;
}

p.catch-phrase {
    position: relative;
    font-family: $headings-font-family;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
}

p.sub-catch {
  display: none;
}

@media (min-width: $screen-xs-max) {
  #t {
    background-size: cover;
    height: 60em;
    //margin-top: 4em;
    //margin-bottom: 4em;
  }

  .sbody {
    width: 180px;
  }

  p.catch-phrase {
    font-size: 54px;
  }

  p.sub-catch {
    display: block;
    margin-right: 1.2em;
    line-height: 1.5;
    text-indent: 0;
    color: $gray-light;
  }
}

.vert {
  p.catch-phrase {
  	margin: 0;
  	padding: 0;
  	text-indent: 0;
  }
}
#top {
  display: flex;
  position: relative;
  margin-bottom: 2em;
  flex-flow: column nowrap;
  height: 40em;
  justify-content: center;
}
.top-bg {
  box-sizing: border-box;
  position: absolute;
  top: 1em;
  left: center;
  width: 100%;
  height: 100%;
  max-height: 38em;
  background-image: url('../images/tategaki/background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: -1;
}

