/* CONTENTS */

#SCT6 ul:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
#SCT6 ul {
zoom: 1;
}
body {
background-color: #fff;
text-align: center;
}
#container {
overflow: hidden;
}
#contents {
width: 375px;
margin: 0 auto;
text-align: center;
}
@media (max-width: 767px) {
nav .btn {
position: fixed;
right: 25px;
top: 25px;
background: url(../img/btn_menu.png) no-repeat center center;
background-size: 35px 19px;
width: 35px;
height: 19px;
cursor: pointer;
z-index: 1000;
}
nav .menu {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(235,235,235,0.97);
z-index: 1000;
display: none;
}
nav .menu div {
width: 100%;
height: 100%;
display: table;
}
nav .menu p {
position: absolute;
right: 25px;
top: 25px;
background: url(../img/btn_close.png) no-repeat center center;
background-size: 26px 26px;
width: 26px;
height: 26px;
cursor: pointer;
}
nav ul {
display: table-cell;
vertical-align: middle;
padding-top: 35px;
}
nav li {
padding-bottom: 35px;
font-family: 'FOT-筑紫ゴシック Pro H','TsukuGoPro-H',sans-serif;
font-size: 18px;
text-align: center;
}
#pageBody nav a {
color: #d60d21;
text-decoration: none;
display: inline-block;
}
nav span {
margin-top: 6px;
font-size: 12px;
display: block;
text-align: center;
}
}

@media (min-width: 768px) {
#pageBody,
#contents {
position: relative;
width: 1080px;
margin: 0 auto;
text-align: center;
}
nav {
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 999;
text-align: center;
display: block;
}
nav div.menu {
padding-top: 36px;
margin: 0 auto;
width: 1080px;
}
nav.fixed {
position: fixed;
}
nav ul {
display: inline-block;
}
nav li {
width: 216px;
font-family: 'FOT-筑紫ゴシック Pro H','TsukuGoPro-H',sans-serif;
font-size: 18px;  /* 修正しました */
text-align: center;
float: left;
letter-spacing: 0.1em;  /* 修正のため追加しました */
}
#pageBody nav a {
-webkit-transition: opacity 0.3s ease;
-moz-transition: opacity 0.3s ease;
-o-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
color: #d60d21;
text-decoration: none;
display: inline-block;
}
#pageBody nav a:hover {
filter:alpha(opacity=60);
-moz-opacity: 0.6;
opacity: 0.6;
}
nav span {
font-size: 12px;  /* 修正しました */
display: block;
text-align: center;
margin: 5px 0 0 0;
}
}

section .shead h3 {
position: absolute;
left: 175px;
top: 0;
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
padding: 7px 0 0 0;
width: 12px;
font-family: 'FOT-筑紫ゴシック Pro H','TsukuGoPro-H',sans-serif;
font-size: 20px;
line-height: 1.85;
letter-spacing: 4px;
text-align: top;
color: #b5b29d;
z-index: 0;
}
section .shead h4 {
position: absolute;
left: 0;
top: 0;
box-sizing: border-box;
width: 100%;
font-family: 'FOT-筑紫ゴシック Pro H','TsukuGoPro-H',sans-serif;
font-size: 22px;
line-height: 1.0;
text-align: center;
z-index: 1;
color: #d60d21;
}
@media (min-width: 768px) {
section .shead h3 {
position: absolute;
left: 516px;
top: 0;
width: 48px;
font-size: 28px; /*修正*/
letter-spacing: 4px;
}
section .shead h4 {
font-size: 48px; /*修正*/
}
}

#SCT1 {
padding: 66px 20px 39px 20px; /*修正*/
}
#SCT2 {
padding: 0 20px 39px 20px; /*修正*/
}
#SCT3 {
padding: 0 20px 39px 20px; /*修正*/
}
#SCT3 .shead,
#SCT2 .shead,
#SCT1 .shead {
position: relative;
height: 351px; /*修正*/
}
#SCT3 .shead h3,
#SCT2 .shead h3,
#SCT1 .shead h3 {
height: 305px; /*修正*/
}
#SCT3 .shead h4,
#SCT2 .shead h4,
#SCT1 .shead h4 {
padding: 143px 0 0 0; /*修正*/
height: 105px;
}
#SCT3 .block,
#SCT2 .block,
#SCT1 .block {
/* background-color: #f0f0eb; */
margin-bottom: 2px;
padding: 10px 20px 14px 20px;
/* cursor: pointer; */
}
#SCT3 .block dl,
#SCT2 .block dl,
#SCT1 .block dl {
text-align: left;
}
#SCT3 .block dt,
#SCT2 .block dt,
#SCT1 .block dt {
margin-bottom: 3px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 15px;
}
#SCT3 .block dt a,
#SCT2 .block dt a,
#SCT1 .block dt a {
color: #1b2437;
text-decoration: none;
}
#SCT3 .block dd,
#SCT2 .block dd,
#SCT1 .block dd {
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 12px;
line-height: 1.75;
}
#SCT3 .block p,
#SCT2 .block p,
#SCT1 .block p {
background: url(../img/icn_blank_sp.png) no-repeat right center;
background-size: 10px 10px;
margin-top: 7px;
padding-right: 18px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 11px;
text-align: right;
}
@media (min-width: 768px) {
#SCT1 {
padding: 36px 0 28px 0; /*修正*/
}
#SCT2 {
padding: 0 0 88px 0; /*修正*/
}
#SCT3 {
padding: 0 0 88px 0; /*修正*/
}
#SCT3 .shead,
#SCT2 .shead,
#SCT1 .shead {
position: relative;
height: 424px; /*修正*/
}
#SCT3 .shead h3,
#SCT2 .shead h3,
#SCT1 .shead h3 {
height: 330px; /*修正*/
}
#SCT3 .shead h4,
#SCT2 .shead h4,
#SCT1 .shead h4 {
padding: 150px 0 0 0; /*修正*/
height: 130px;
}
#SCT3 .list,
#SCT2 .list,
#SCT1 .list {
margin: 0 auto;
width: 900px;
}
#SCT3 .block,
#SCT2 .block,
#SCT1 .block {
-webkit-transition: opacity 0.3s ease;
-moz-transition: opacity 0.3s ease;
-o-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
background-color: #f0f0eb;
margin-bottom: 2px;
padding: 0;
width: 100%;
display: table;
/* cursor: pointer; */
}
#SCT3 .block.hover,
#SCT2 .block.hover,
#SCT1 .block.hover {
filter:alpha(opacity=60);
-moz-opacity: 0.6;
opacity: 0.6;
}
#SCT3 .block dl,
#SCT2 .block dl,
#SCT1 .block dl {
padding: 14px 0 17px 25px;
display: table-cell;
vertical-align: middle;
text-align: left;
}
#SCT3 .block dt,
#SCT2 .block dt,
#SCT1 .block dt {
margin-bottom: 5px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 20px;
}
#SCT3 .block dt a,
#SCT2 .block dt a,
#SCT1 .block dt a {
color: #1b2437;
text-decoration: none;
}
#SCT3 .block dd,
#SCT2 .block dd,
#SCT1 .block dd {
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 16px;
line-height: 1.5;
}
#SCT3 .block p,
#SCT2 .block p,
#SCT1 .block p {
background: url(../img/icn_blank.png) no-repeat right center;
margin-top: 0;
padding-right: 39px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 16px;
display: table-cell;
vertical-align: middle;
text-align: right;
}
/* ここから追加 */
#SCT3 h5,
#SCT2 h5,
#SCT1 h5 {
text-align: left;
font-size: 22px;
padding-top: 30px;
padding-bottom: 10px;
}
#SCT3 p,
#SCT2 p,
#SCT1 p {
text-align: left;
font-size: 16px;
}
#SCT3 img,
#SCT2 img,
#SCT1 img {
text-align: left;
padding: 10px;
}
#SCT3 ul,
#SCT2 ul,
#SCT1 ul {
text-align: left;
list-style-type: disc;
margin-left: 20px;
padding: 10px;
}
#SCT3 ol,
#SCT2 ol,
#SCT1 ol {
text-align: left;
list-style-type: decimal;
margin-left: 20px;
padding: 10px;
}
#SCT3 li,
#SCT2 li,
#SCT1 li {
text-align: left;
font-size: 16px;
}
/* ここまで追加 */
}

/*
#SCT3 {
padding: 10 20px 166px 20px;
}
#SCT3 .shead {
position: relative;
height: 197px;
}
#SCT3 .shead h3 {
height: 153px;
}
#SCT3 .shead h4 {
padding: 67px 0 0 0;
height: 153px;
}
#SCT3 .list dl {
background: #f0f0eb url(../img/icn_open_sp.png) no-repeat right top;
background-size: 29px 29px;
margin-bottom: 2px;
padding: 9px 20px 7px 20px;
text-align: left;
/* cursor: pointer; */
}
#SCT3 .list dl.active {
background: #f7f7f5 url(../img/icn_close_sp.png) no-repeat right top;
background-size: 29px 29px;
}
#SCT3 .list dt {
margin-bottom: 2px;
padding-right: 10px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 15px;
line-height:1.7;
}
#SCT3 .list dd {
padding-bottom: 3px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 12px;
line-height:1.75;
display: none;
}
@media (min-width: 768px) {
#SCT3 {
padding: 0 0 188px 0;
}
#SCT3 .shead {
position: relative;
height: 272px;
}
#SCT3 .shead h3 {
height: 190px;
}
#SCT3 .shead h4 {
padding: 80px 0 0 0;
height: 190px;
}
#SCT3 .list {
margin: 0 auto;
width: 900px;
}
#SCT3 .list dl {
-webkit-transition: opacity 0.3s ease;
-moz-transition: opacity 0.3s ease;
-o-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
background: #f0f0eb url(../img/icn_open.png) no-repeat right top;
margin-bottom: 2px;
padding: 14px 25px 13px 25px;
}
#SCT3 .list dl:hover {
filter:alpha(opacity=60);
-moz-opacity: 0.6;
opacity: 0.6;
}
#SCT3 .list dl.active {
background: #f7f7f5 url(../img/icn_close.png) no-repeat right top;
}
#SCT3 .list dt {
margin-bottom: 2px;
padding-right: 0;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 20px;
line-height:1.5;
}
#SCT3 .list dd {
padding-bottom: 0;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 16px;
line-height:1.9;
display: none;
}
}
*/

/* PAGEBODY */
#pageBottom {}
#pageBottom .up {
margin: 0 auto 24px auto; /*修正*/
width: 100px;
}
#pageBottom .up p {
box-sizing: border-box;
margin: 0 auto;
padding: 0;
width: 45px;
height: 15px; /*修正*/
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
text-align: left;
vertical-align: middle;
color: #e6001e;
-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}
#pageBottom .up .s1 {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
padding: 0 17px;
font-size: 10px;
line-height: 1.0;
display: inline-block;
}
#pageBottom .up .s2 {
-webkit-writing-mode: horizontal-tb;
-moz-writing-mode: horizontal-tb;
-ms-writing-mode: horizontal-tb;
writing-mode: horizontal-tb;
-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
font-size: 45px;
line-height: 1.0;
display: block;
}
#pageBottom .up a {
color: #e6001e;
text-decoration: none;
display: inline-block;
}
@media (min-width: 768px) {
#pageBottom {}
#pageBottom .up {
margin: 0 auto 99px auto; /*修正*/
width: 60px;
}
#pageBottom .up p {
padding: 0;
width: 60px;
height: 10px; /*修正*/
font-size: 14px;
line-height: 1.0;
letter-spacing: 1px;
}
#pageBottom .up .s1 {
padding: 0 23px;
font-size: 14px;
line-height: 1.0;
}
#pageBottom .up .s2 {
padding-bottom: 6px;
font-size: 60px;
line-height: 1.0;
}
#pageBottom .up a {
-webkit-transition: opacity 0.3s ease;
-moz-transition: opacity 0.3s ease;
-o-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
}
#pageBottom .up a:hover {
filter:alpha(opacity=60);
-moz-opacity: 0.6;
opacity: 0.6;
}
}

/* FOOTER */
.copyright{
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 16px;
line-height: 1.9;
text-justify: inter-ideograph;
height: 90px; /*修正*/
}
h1{
font-size: 20px;
}
img{
padding:20px;
vertical-align: middle;
}
