---
title: 縦書きWebデザインアワード
layout: awards
description: CSS Writing Modes を使用し、①表現的に優れた実用性の高い縦書きの作品、②Webの新たな可能性を見せてくれるような縦書きの作品を募集。
path: awards/
judges:
  - name: 中村 修
    img: orf_01.jpg
    description: 一九八三年　慶應義塾大学工学部卒業　工学博士。慶應義塾大学環境情報学部教授。一九八七年から WIDE プロジェクトにて広帯域インターネットや IPv6 の研究開発、普及に携わる。二〇〇三年、AutoID Lab Japan 副所長就任、各種センサーネットワークの研究開発。二〇〇九年、オープンワイヤレスプラットフォーム合同会社の技術協議会委員長となり無線インフラ関連の研究開発。二〇一四年、W3C/Keio Site Manager に就任し、Web 技術の標準化活動を推進。
  - name: 瀧田 佐登子
    img: satoko-Takita.jpg
    description: 一般社団法人 Mozilla Japan 代表理事。Netscape の開発現場でブラウザの国際化・日本語化に従事。その後、二〇〇四年に Mozilla Japan を設立、二〇〇六年代表理事に就任。Firefox 等 Mozilla 製品や技術、オープンソースの普及啓蒙活動を行う。日経ウーマン・オブ・ザ・イヤー 2009 リーダー部門受賞。二〇〇九年度日本ＯＳＳ貢献者賞受賞。第９回北東アジアＯＳＳ推進フォーラム特別貢献者賞受賞。
  - name: 永原 康史
    img: nagahara_prof.png
    description: グラフィックデザイナー、多摩美術大学情報デザイン学科教授。ブックデザインや電子メディアのプロデュース、展覧会のアートディレクションなどを手がけ、メディア横断的なデザインを推進。現在、あいちトリエンナーレ 2016の公式デザイナーを務める。『インフォグラフィックスの潮流』（近刊・誠文堂新光社）、『日本語のデザイン』（美術出版社）など著書多数。フォントに「かなバンク・フィンガー」（タイプバンク）がある。
  - name: 鷹野 雅弘
    img: takano2012late-mid.jpg
    description: 株式会社スイッチ。一九九六年にＤＴＰ制作プロダクション「株式会社スイッチ」をスタート。 その後、Web制作、 コンサルティング業務にシフト。トレーニングやテクニカルライティング、書籍の企画や編集なども行っている。CSS Nite などのセミナーイベントを企画運営のほか、ＤＴＰ情報サイト DTP Transit を二〇〇五年から継続している。主な著書に『<span class="tcy">10</span>倍ラクする Illustrator 仕事術（増強改訂版）』（共著、技術評論社）ほか。
  - name: カワセ タケヒロ
    img: kawase.png
    description: グラフィックデザイナー、アートディレクター。musubime（ムスビメ）代表。高校在学中に世界保健機関の準会員ＮＧＯ・国際医学生連盟の日本支部でウェブマスターを担当したことがきっかけで、デザイナーを志す。高校卒業後、制作会社数社を経て二〇一一年に独立。ＣＩ計画、ロゴ、ポスター、パッケージ、Web、映像、建築サインなど、平面のデザインからブランディングまで、企画・制作を中心に活動中。
  - name: 佐々木未来也
    img: sasaki.jpg
    description: デザイナー。慶應義塾大学大学院政策・メディア研究科修士。2013年株式会社コンセント入社。月刊雑誌、社内報、書籍などのエディトリアル/グラフィックデザインに従事。加えて近年は、Webデザイン、サービスデザイン、編集などの業務をおこなう。マイナビニュースにて、書体とデザインに関する「フォントから考える」を連載中。
sponser_companies:
  - name: 株式会社ACCESS
    img: ACCESS_LG_3D_281.png
    url: http://jp.access-company.com/
  - name: インターネット・アカデミー
    url: https://www.internetacademy.jp/
    img: internet_academy.png
  - name: 株式会社講談社
    img: kodansha.png
    url: http://www.kodansha.co.jp/
  - name: 株式会社ジャストシステム
    img: just_system.png
    url: http://www.justsystems.com/jp/
  - name: ソニー株式会社
    img: sony.png
    url: http://www.sony.co.jp/
  - name: ソフトバンク・テクノロジー株式会社
    img: sbt.png
    url: http://www.softbanktech.co.jp/
  - name: 日本マイクロソフト株式会社
    img: Microsoft.png
    url: http://www.microsoft.com/ja-jp/
  - name: 日本電信電話株式会社
    img: ntt_logo_a2_4c.png
    url: http://www.ntt.co.jp/
  - name: BPS株式会社
    img: bps.png
    url: http://www.bpsinc.jp/
  - name: 株式会社ブックウォーカー
    img: bookwalker.png
    url: http://bookwalker.jp/
  - name: 楽天株式会社
    img: rakuten.png
    url: http://corp.rakuten.co.jp/
  - name: ピクシブ株式会社
    img: pixiv.jpg
    url: http://www.pixiv.net/
sponser_organizations:
  - name: 一般社団法人日本書籍出版協会
    img: shokyo.png
    url: http://www.jbpa.or.jp/
  - name: 公益社団法人日本印刷技術協会
    img: jagat.png
    url: http://www.jagat.or.jp/
  - name: 一般社団法人電子出版制作・流通協議会
    img: aebs.png
    url: http://www.aebs.or.jp/
  - name: 一般社団法人日本電子出版協会
    img: jepa.png
    url: http://www.jepa.or.jp/
supports:
  - name: 総務省
    img: soumusho.png
    url: http://www.soumu.go.jp/
  #- name: W3C/Keio
  #  img: w3c.png
  #  url: http://www.w3c.jp/
  - name: 一般社団法人 Mozilla Japan
    img: mozilla.png
    url: http://www.mozilla.jp/
partners:
  - name: Impress Watch
    img: impress.png
    url: http://www.watch.impress.co.jp/
  - name: Web Designing
    img: wd.png
    url: https://book.mynavi.jp/wdonline/
  - name: Typography magazine
    img: typo.png
    url: https://www.facebook.com/TypographyMagazine/
  - name: DTP Transit
    img: dtp_transit.png
    url: http://www.dtp-transit.jp/
  - name: Publickey
    img: publickey.png
    url: http://www.publickey1.jp/
notice:
  - date: 2016-02-16
    title: 応募を〆切ました。事前審査の上、候補者には個別にご連絡します。
  - date: 2016-01-04
    title: <a href="/awards#seminars">縦書きレイアウトのWebコンテンツ実践セミナー＆懇親会を開催します <i class="fa fa-external-link-square"></i></a>
  - date: 2016-01-04
    title: 作品の応募を開始しました。<a href="https://www.est.co.jp/tategaki/tategaki-entry.asp">応募フォームは こちら <i class="fa fa-external-link-square"></i></a>
  - date: 2015-12-22 
    title: <a href="/awards#judges">審査員に佐々木未来也氏（コンセント）が決定しました <i class="fa fa-external-link-square"></i></a>
  - date:  2015-12-11
    title: <a href="/awards#seminars">CSSNiteでWebの技術解説とパネルディスカッションを開催します <i class="fa fa-external-link-square"></i></a>
  - date:  2015-12-11
    title: <a href="/awards/materials">課題部門の素材を公開しました <i class="fa fa-external-link-square"></i></a>
  - date:  2015-11-12
    title: 縦書きWeb普及委員会のサイトを公開しました
---

{% include awards/top.html %}

{% include awards/notice.html %}

{% include awards/social_buttons.html %}

{% include awards/purpose.html %}

{% include awards/application.html %}

{% include awards/judges.html %}

{% include awards/sponsors.html %}

{% include awards/seminars.html %}

{% include awards/note.html %}