---
layout: awards
judges:
  - name: 中村 修
    img: orf_01.jpg
    description: 1983年　慶應義塾大学工学部卒業　工学博士。慶應義塾大学環境情報学部教授。1987年からWIDEプロジェクトにて広帯域インターネットやIPv6の研究開発、普及に携わる。2003年、AutoID Lab Japan副所長就任、各種センサーネットワークの研究開発。2009年、藤沢地域のWiMAXの運用会社、オープンワイヤレスプラットフォーム合同会社の技術協議会委員長となり無線インフラ関連の研究開発。2014年、W3C/Keio Site Managerに就任し、Web技術の標準化活動を推進。
  - name: 瀧田 佐登子
    img: satoko-Takita.jpg
    description: 一般社団法人 Mozilla Japan代表理事。国内IT企業でUNIX・インターネット事業に携わった後、米国Netscape の開発現場でブラウザの国際化・日本語化に従事。その後、2004年にMozilla Japanを設立、2006年代表理事に就任。Firefox等Mozilla製品や技術、オープンソースの普及啓蒙活動を行う。日経ウーマン・オブ・ザ・イヤー2009リーダー部門受賞。2009年度日本OSS貢献者賞受賞。第9回北東アジアOSS推進フォーラム特別貢献者賞受賞。
  - name: 永原 康史
    img: nagahara_prof.png
    description: グラフィックデザイナー、多摩美術大学情報デザイン学科教授。ブックデザインや電子メディアのプロデュース、展覧会のアートディレクションなどを手がけ、メディア横断的なデザインを推進。現在、あいちトリエンナーレ2016の公式デザイナーを務める。『インフォグラフィックスの潮流』（近刊・誠文堂新光社）、『日本語のデザイン』（美術出版社）など著書多数。フォントに「かなバンク・フィンガー」（タイプバンク）がある。
  - name: 鷹野 雅弘
    img: takano2012late-mid.jpg
    description: 株式会社スイッチ。1996年にDTP制作プロダクション「株式会社スイッチ」をスタート。 その後、Web制作、 コンサルティング業務にシフト。トレーニングやテクニカルライティング、書籍の企画や編集なども行っている。CSS Niteなどのセミナーイベントを企画運営のほか、DTP情報サイトDTP Transitを2005年から継続している。主な著書に『10倍ラクするIllustrator仕事術（増強改訂版）』（共著、技術評論社）ほか。
  - name: カワセタケヒロ
    img: kawase.png
    description: グラフィックデザイナー、アートディレクター。musubime（ムスビメ）代表。高校在学中に世界保健機関の準会員NGO・国際医学生連盟の日本支部でウェブマスターを担当したことがきっかけで、デザイナーを志す。高校卒業後、制作会社数社を経て2011年に独立。CI計画、ロゴ、ポスター、パッケージ、Web、映像、建築サインなど、平面のデザインからブランディングまで、企画・制作を中心に活動中。
  - name: 名前
    img: no-image.png
    description: 経歴
sponser_companies:
  - name: 株式会社ACCESS
    img: ACCESS_LG_3D_281.png
    url: http://jp.access-company.com/
  - name: インターネット・アカデミー
    url: https://www.internetacademy.jp/
    img: internet_academy.png
  - name: 株式会社ジャストシステム
    img: just_system.png
    url: http://www.justsystems.com/jp/
  - name: 株式会社講談社
    img: kodansha.png
    url: http://www.kodansha.co.jp/
  - name: ソニー株式会社
    img: sony.png
    url: http://www.sony.co.jp/
  - name: ソフトバンク・テクノロジー株式会社
    img: softbank_tec.png
    url: http://www.softbanktech.co.jp/corp/
  - name: 日本マイクロソフト株式会社
    img: Microsoft.png
    url: http://www.microsoft.com/ja-jp/
  - name: 株式会社ブックウォーカー
    img: bookwalker.png
    url: http://bookwalker.jp/
sponser_organizations:
  - name: 公益社団法人日本印刷技術協会
    img: jagat.png
    url: http://www.jagat.or.jp/
  - name: 一般社団法人日本電子出版協会
    img: jepa.png
    url: http://www.jepa.or.jp/
supports:
  - name: 総務省
    img: soumu.jpg
    url: http://www.soumu.go.jp/
  - name: W3C/Keio
    img: w3c.png
    url: http://www.w3c.jp/
  - name: 一般社団法人 Mozilla Japan
    img: mozilla.png
    url: http://www.mozilla.jp/
partners:
  - name: DTP Transit
    img: dtp_transit.png
    url: http://www.dtp-transit.jp/
  - name: Impress Watch
    img: impress.png
    url: http://www.watch.impress.co.jp/
  - name: Publickey
    img: publickey.png
    url: http://www.publickey1.jp/
  - name: WebDesigning
    img: null
    url: https://book.mynavi.jp/wd/index.html
---

{% include awards/top.html %}

{% include tategaki/social_buttons.html %}

{% include awards/notice.html %}

{% include awards/application.html %}

{% include awards/judges.html %}

{% include awards/sponsers.html %}

{% include awards/seminors.html %}