#header:after,
#footer:after,
.cont:after,
.pack:after,
.block:after,
section:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
#header,
#footer,
.cont,
.pack,
.block,
section {
zoom: 1;
}
html,
body {
height: 100%;
}
body {
background-color: #e8e8e6;
color: #192336;
text-align: center;
}

/* CONTAINER */
#container {
}

/* PAGETOP */
#pageTop {
position: relative;
padding: 0;
width: 100%;
}
#pageTop .link {
position: fixed;
right: 10px;
bottom: 10px;
width: 98px;
height: 98px;
z-index: 999;
}
#pageTop .link .bg {
-webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-o-transition: all 2s ease;
transition: all 2s ease;
position: absolute;
left: 0;
top: 0;
background: url(../../img/bg_circle_sp.png) no-repeat left top;
background-size: 98px 98px;
width: 98px;
height: 98px;
-webkit-animation: spin 10s linear infinite;
-moz-animation: spin 10s linear infinite;
-ms-animation: spin 10s linear infinite;
-o-animation: spin 10s linear infinite;
animation: spin 10s linear infinite;
}
#pageTop .link.init .bg {
background: url(../../img/bg_circle_sp_w.png) no-repeat left top;
background-size: 98px 98px;
width: 98px;
height: 98px;
}
@-webkit-keyframes spin {
0% {-webkit-transform: rotate(0deg);}
100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
0% {-moz-transform: rotate(0deg);}
100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
0% {-ms-transform: rotate(0deg);}
100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
0% {-o-transform: rotate(0deg);}
100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}
#pageTop .link p {
position: relative;
width: 98px;
height: 98px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 12px;
line-height: 1.55;
display: block;
}
#pageTop .link p span {
font-size: 8px;
}
#pageTop .link a {
-moz-transform: rotate(15deg);
-webkit-transform: rotate(15deg);
-o-transform: rotate(15deg);
-ms-transform: rotate(15deg);
transform: rotate(15deg);
padding: 20px 0;
width: 98px;
display: block;
text-decoration: none;
}
@media (min-width: 768px) {
	#pageTop {
	position: relative;
	padding: 0;
	width: 100%;
	height: 100%;
	}
	#pageTop .link {
	right: 30px;
	bottom: 30px;
	width: 156px;
	height: 156px;
	}
	#pageTop .link .bg {
	background: url(../../img/bg_circle.png) no-repeat left top;
	background-size: 156px 156px;
	width: 156px;
	height: 156px;
	}
	#pageTop .link.init .bg {
	background: url(../../img/bg_circle_w.png) no-repeat left top;
	background-size: 156px 156px;
	width: 156px;
	height: 156px;
	}
	#pageTop .link p {
	width: 156px;
	height: 156px;
	font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
	font-size: 19px;
	line-height: 1.55;
	}
	#pageTop .link p span {
	font-size: 13px;
	}
	#pageTop .link a {
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	padding: 30px 0;
	width: 156px;
	}
	#pageTop .link a:hover {
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	}
}

nav .btn {
position: fixed;
right: 20px;
top: 20px;
z-index: 1000;
}
.menu-trigger,
.menu-trigger span {
display: inline-block;
transition: all .4s;
box-sizing: border-box;
}
.menu-trigger {
position: relative;
width: 33px;
height: 35px;
}
.menu-trigger span {
position: absolute;
left: 0;
width: 100%;
height: 2px;
background-color: #d60d21;
}
.init .menu-trigger span {
background-color: #fff;
}
.menu-trigger i {
position: absolute;
left: 0;
bottom: 0;
width: 33px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 10px;
font-weight: bold;
color: #d60d21;
font-style: normal;
text-align: center;
}
.init .menu-trigger i {
color: #fff;
}
.menu-trigger span:nth-of-type(1) {
top: 0;
}
.menu-trigger span:nth-of-type(2) {
top: 10px;
}
.menu-trigger.active span:nth-of-type(1) {
-webkit-transform: translateY(5px) rotate(-20deg);
transform: translateY(5px) rotate(-20deg);
}
.menu-trigger.active span:nth-of-type(2) {
-webkit-transform: translateY(-5px) rotate(20deg);
transform: translateY(-5px) rotate(20deg);
}
nav .menu {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(235,235,235,0.97);
z-index: 999;
display: none;
}
nav .menu div {
width: 100%;
height: 100%;
display: table;
}
nav .menu ul {
display: table-cell;
vertical-align: middle;
padding-top: 25px;
}
nav .menu li {
padding-bottom: 25px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 21px;
text-align: center;
}
nav .menu a {
color: #d60d21;
text-decoration: none;
}
@media (min-width: 768px) {
	nav .btn {
	right: 40px;
	top: 40px;
	}
	.menu-trigger {
	width: 40px;
	height: 40px;
	}
	.menu-trigger span {
	height: 3px;
	}
	.menu-trigger i {
	width: 40px;
	font-size: 12px;
	}
	.menu-trigger span:nth-of-type(1) {
	top: 0;
	}
	.menu-trigger span:nth-of-type(2) {
	top: 12px;
	}
	.menu-trigger.active span:nth-of-type(1) {
	-webkit-transform: translateY(6px) rotate(-20deg);
	transform: translateY(6px) rotate(-20deg);
	}
	.menu-trigger.active span:nth-of-type(2) {
	-webkit-transform: translateY(-6px) rotate(20deg);
	transform: translateY(-6px) rotate(20deg);
	}
	nav .menu ul {
	padding-top: 29px;
	}
	nav .menu li {
	padding-bottom: 29px;
	font-size: 24px;
	}
}

/* HEADER */
#header {
margin: 0 auto;
width: 100px;
}
#header .title {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
-webkit-transition: opacity 0.3s ease;
-moz-transition: opacity 0.3s ease;
-o-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
-moz-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
position: fixed;
left: 20px;
top: 20px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 16px;
line-height: 1.80;
color: #d60d21;
text-align: left;
letter-spacing: 0.125em;
filter:alpha(opacity=0);
-moz-opacity: 0;
opacity: 0;
z-index: 10;
}
#header.opacity .title {
filter:alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}
#header .title span {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
}
@media (min-width: 768px) {
	#header .title {
	left: 25px;
	top: 40px;
	font-size: 24px;
	line-height: 1.80;
	}
}

/* PAGEBODY */
#pageBottom {}
#pageBottom .up {
margin: 0 auto 124px auto;
width: 100px;
}
#pageBottom .up p {
box-sizing: border-box;
margin: 0 auto;
padding: 0;
width: 45px;
height: 115px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
text-align: left;
vertical-align: middle;
color: #e6001e;
-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}
#pageBottom .up .s1 {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
padding: 0 17px;
font-size: 10px;
line-height: 1.0;
display: inline-block;
}
#pageBottom .up .s2 {
-webkit-writing-mode: horizontal-tb;
-moz-writing-mode: horizontal-tb;
-ms-writing-mode: horizontal-tb;
writing-mode: horizontal-tb;
-moz-transform-origin: 22px 22px;
-webkit-transform-origin: 22px 22px;
-o-transform-origin: 22px 22px;
-ms-transform-origin: 22px 22px;
-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
font-size: 45px;
line-height: 1.0;
display: block;
}
#pageBottom .up a {
color: #e6001e;
text-decoration: none;
display: inline-block;
}
@media (min-width: 768px) {
#pageBottom {}
#pageBottom .up {
margin: 0 auto 199px auto;
width: 60px;
}
#pageBottom .up p {
padding: 0;
width: 60px;
height: 110px;
font-size: 14px;
line-height: 1.0;
letter-spacing: 1px;
}
#pageBottom .up .s1 {
padding: 0 23px;
font-size: 14px;
line-height: 1.0;
}
#pageBottom .up .s2 {
padding-bottom: 6px;
-moz-transform-origin: 30px 30px;
-webkit-transform-origin: 30px 30px;
-o-transform-origin: 30px 30px;
-ms-transform-origin: 30px 30px;
font-size: 60px;
line-height: 1.0;
}
#pageBottom .up a {
-webkit-transition: opacity 0.3s ease;
-moz-transition: opacity 0.3s ease;
-o-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
}
#pageBottom .up a:hover {
filter:alpha(opacity=60);
-moz-opacity: 0.6;
opacity: 0.6;
}
}

/* FOOTER */
#footer {
margin: 0 auto;
padding: 0 0 34px 0;
text-align: center;
}
#footer ul {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
margin: 0 auto 43px auto;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 15px;
line-height: 1.8;
display: inline-block;
text-align: left;
}
#footer a {
color: #1b2437;
text-decoration: none;
}
#footer p.note {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
margin: 0 auto 34px auto;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 10px;
line-height: 1.9;
text-align: justify;
text-justify: inter-ideograph;
height: 140px;
display: inline-block;
}
#footer p.copyright {
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 10px;
line-height: 2;
text-align: center;
}
@media (min-width: 768px) {
	#footer {
	margin: 0 auto;
	padding: 0;
	width: 937px;
	height: 249px;
	text-align: left;
	}
	#footer ul {
	margin: 0;
	font-size: 20px;
	line-height: 1.8;
	float: right;
	}
	#footer div {
	width: 720px;
	}
	#footer a {
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	}
	#footer a:hover {
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	}
	#footer p.note {
	margin: 0;
	font-size: 16px;
	line-height: 1.9;
	height: 190px;
	float: right;
	}
	#footer p.copyright {
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
	font-size: 16px;
	line-height: 1.9;
	text-align: justify;
	text-justify: inter-ideograph;
	height: 190px;
	float: left;
	}
}