
#SCT3 ul:after,
#SCT4 .view div:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
#SCT3 ul,
#SCT4 .view div {
zoom: 1;
}
body {
background-color: #e8e8e6;
text-align: center;
}

#container {
overflow: hidden;
}
#contents {
text-align: center;
}

/* CONTENTS */
.activeView a,
.activeView img,
.activeView {
-webkit-transition: all 2s ease !important;
-moz-transition: all 2s ease !important;
-o-transition: all 2s ease !important;
transition: all 2s ease !important;
}
.init {
border-color: #fff;
color: #fff !important;
}
.init a {
color: #fff !important;
}
.init img {
filter:alpha(opacity=0);
-moz-opacity: 0;
opacity: 0;
}
.init .cls-2,
.init .cls-1 {
fill:#fff;
}
.title a {
text-decoration: none !important;
color: #d60d21 !important;
}
.cls-1{
-webkit-transition: all 2s ease !important;
-moz-transition: all 2s ease !important;
-o-transition: all 2s ease !important;
transition: all 2s ease !important;
fill:#c91523;}
.cls-2{
-webkit-transition: all 2s ease !important;
-moz-transition: all 2s ease !important;
-o-transition: all 2s ease !important;
transition: all 2s ease !important;
fill:#182335;}

#VISUAL {
position: relative;
overflow: hidden;
}
#VISUAL h1 {
position: relative;
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
margin: 0 auto 0 auto;
padding: 0;
width: 21px;
height: 427px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 21px;
line-height: 1.0;
text-align: center;
letter-spacing: 0.125em;
color: #192336;
display: inline-block;
z-index: 1;
}
#VISUAL .logo {
position: relative;
margin: 0 auto 0 auto;
width: 207px;
height: 284px;
}
#VISUAL .logo img {
width: 207px;
height: auto;
}
#VISUAL .logo h2 {
position: absolute;
left: -213px;
top: 151px;
-webkit-transform: scale(0.33);
-moz-transform: scale(0.33);
transform: scale(0.33);
padding-top: 6px;
width: 633px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 50px;
text-align: justify;
text-justify: inter-ideograph;
text-align-last: justify;
line-height: 1.0;
color: #1b2437;
}
#LED {
position: relative;
padding-top: 98px;
}
#VISUAL .lead::-webkit-scrollbar{
height: 0;
background: #f3f3ed;
}
#VISUAL .lead::-webkit-scrollbar-thumb{
background: #c5c5c5;
}
#VISUAL .lead {
-webkit-transition: color 2s ease;
-moz-transition: color 2s ease;
-o-transition: color 2s ease;
transition: color 2s ease;
position: relative;
overflow-x: auto;
overflow-y: hidden;
-webkit-overflow-scrolling: touch;
display: inline-block;
z-index: 1;
width: 100%;
color: #fff;
}
#VISUAL .mask {
position: absolute;
left: 0;
top: 98px;
background: url(../img/mask.png) no-repeat left top;
background-position: 80px auto;
width: 80px;
height: 363px;
z-index: 5;
}
.buruburu {
animation-name: hurueru;
animation-duration: 100ms;
animation-iteration-count: 10;
}
@keyframes hurueru {
0% {transform: translate(0px, 0px) rotateZ(0deg)}
25% {transform: translate(2px, 2px) rotateZ(1deg)}
50% {transform: translate(0px, 2px) rotateZ(0deg)}
75% {transform: translate(2px, 0px) rotateZ(-1deg)}
100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
#VISUAL .lead .BBB,
#VISUAL .lead .AAA,
#VISUAL .lead .view {
position: relative;
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
padding: 0 40px;
height: 363px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 18px;
text-align: justify;
text-justify: inter-ideograph;
line-height: 1.77;
letter-spacing: 0.05em;
z-index: 1;
}
#VISUAL .lead .AAA {
position: absolute;
right: 0;
top: 0;
color: #192336 !important;
animation-name: hurueru2;
animation-duration: 2s;
animation-iteration-count: 1;
clip: rect(0,810px,363px,0);
}
@keyframes hurueru2 {
0% {clip: rect(0,810px,0,0)}
100% {clip: rect(0,810px,363px,0)}
}
.hurueru3 {
filter:alpha(opacity=0);
-moz-opacity: 0;
opacity: 0;
}
#VISUAL .lead p {
text-indent: 1em;
}
#VISUAL .movie {
position: relative;
left: -6px;
top: 214px;
margin: 0 auto;
width: 0;
-webkit-transform: scale(0.5);
-moz-transform: scale(0.5);
-o-transform: scale(0.5);
-ms-transform: scale(0.5);
transform: scale(0.5);
}
#VISUAL .motion1 div {
position: absolute;
left: 150px;
top: 800px;
width: 350px;
height: 30px;
-webkit-transform-origin:0 50%;
-moz-transform-origin:0 50%;
-o-transform-origin:0 50%;
-ms-transform-origin:0 50%;
transform-origin:0 50%;
-webkit-animation: sample2 2s ease-out normal;
-moz-animation: sample2 2s ease-out normal;
animation: sample2 2s ease-out normal;
}
#VISUAL .motion1 span.s1 {
background: url(../img/movie1_1.svg) no-repeat left top;
background-size: contain;
width: 162px;
height: 216px;
-webkit-animation: sample 2s ease-out normal;
-moz-animation: sample 2s ease-out normal;
animation: sample 2s ease-out normal;
display: block;
float: right;
}
@-webkit-keyframes sample {
0% {transform: rotate(0deg) scale(0.7);opacity: 0;}
100% {transform: rotate(90deg) scale(1.5);opacity: 1;}
}
@-moz-keyframes sample {
0% {transform: rotate(0deg) scale(0.7);opacity: 0;}
100% {transform: rotate(90deg) scale(1.5);opacity: 1;}
}
@keyframes sample {
0% {transform: rotate(0deg) scale(0.7);opacity: 0;}
100% {transform: rotate(90deg) scale(1.5);opacity: 1;}
}
@keyframes sample2 {
0% {transform: rotate(0deg)}
100% {transform: rotate(-90deg)}
}
#VISUAL .motion2 span.s1 {
position: absolute;
left: -153px;
top: 516px;
background: url(../img/movie1_3.svg) no-repeat left top;
background-size: contain;
width: 465px;
height: 699px;
display: block;
}
#VISUAL .motion3 span.s1 {
position: absolute;
left: -153px;
top: 516px;
background: url(../img/movie1_3.svg) no-repeat left top;
background-size: contain;
width: 465px;
height: 699px;
display: block;
animation: opacity2 1s ease-out normal;
opacity: 0;
}
#VISUAL .motion3 span.s2 {
position: absolute;
left: -153px;
top: 516px;
background: url(../img/movie1_3w.svg) no-repeat left top;
background-size: contain;
width: 465px;
height: 699px;
display: block;
animation: opacity1 1s ease-out normal;
}
@keyframes opacity1 {
0% {opacity: 0;}
100% {opacity: 1;}
}
@keyframes opacity2 {
0% {opacity: 1;}
100% {opacity: 0;}
}
@media (min-width: 768px) {
	#VISUAL h1 {
	width: 30px;
	height: 615px;
	font-size: 30px;
	}
	#VISUAL .logo {
	position: relative;
	margin: 0 auto 0 auto;
	width: 294px;
	height: 406px;
	}
	#VISUAL .logo img {
	width: 294px;
	height: auto;
	}
	#VISUAL .logo h2 {
	position: absolute;
	left: -169px;
	top: 258px;
	-webkit-transform: scale(0.47);
	-moz-transform: scale(0.47);
	transform: scale(0.47);
	padding-top: 6px;
	}
	#LED {
	padding-top: 170px;
	}
	#VISUAL .lead::-webkit-scrollbar-thumb{
	background: #c5c5c5;
	}
	#VISUAL .lead {
	overflow-x: inherit;
	overflow-y: inherit;
	-webkit-overflow-scrolling: touch;
	width: auto;
	height: 645px;
	}
	#VISUAL .mask {
	display: none;
	}
	#VISUAL .lead .AAA,
	#VISUAL .lead .view {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-width: 15em;
	-moz-column-width: 15em;
	-ms-column-width: 15em;
	column-width: 15em;
	-moz-column-gap: 80px;
	-webkit-column-gap: 80px;
	-ms-column-gap: 80px;
	column-gap: 80px;
	margin: 0 auto;
	padding: 0;
	width: 810px;
	height: 280px;
	font-size: 24px;
	letter-spacing: 0;
	}
	#VISUAL .lead .AAA {
	position: absolute;
	right: 0;
	top: 0;
	color: #192336 !important;
	animation-name: hurueru2;
	animation-duration: 2s;
	animation-iteration-count: 1;
	clip: rect(0,810px,645px,0);
	}
	@keyframes hurueru2 {
	0% {clip: rect(0,810px,0,0)}
	100% {clip: rect(0,810px,645px,0)}
	}
	#VISUAL .lead p {
	text-indent: 1em;
	}
	#VISUAL .movie {
	position: relative;
	left: 0;
	top: 0;
	margin: 0 auto;
	width: 0;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	}
	#VISUAL .motion1 div {
	position: absolute;
	left: 150px;
	top: 800px;
	width: 350px;
	height: 30px;
	-webkit-transform-origin:0 50%;
	-moz-transform-origin:0 50%;
	-o-transform-origin:0 50%;
	-ms-transform-origin:0 50%;
	transform-origin:0 50%;
	-webkit-animation: sample2 2s ease-out normal;
	-moz-animation: sample2 2s ease-out normal;
	animation: sample2 2s ease-out normal;
	}
}

#NEWS {
position: absolute;
left: 20px;
top: 20px;
color: #d60d21;
line-height: 1;
}
#NEWS p {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
width: 11px;
height: 645px;
white-space: nowrap;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 11px;
line-height: 1;
}
#NEWS p strong {
display: block;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 11px;
float: left;
}
#NEWS p .s1 {
-webkit-transition: color 2s ease !important;
-moz-transition: color 2s ease !important;
-o-transition: color 2s ease !important;
transition: color 2s ease !important;
position: relative;
display: block;
height: 445px;
overflow: hidden;
color: #192336;
float: left;
}
#NEWS.init p .s1 {
color: #fff !important;
}
#NEWS p .s1 a {
border-right: solid 1px #192336;
color: #192336;
display: inline-block;
text-decoration: none;
}
#NEWS.init p .s1 a {
border-right: solid 1px #fff;
}
#NEWS p .s1 span {
color: #192336;
padding-bottom: 4em;
}
#NEWS p .s2 {
display: inline-block;
padding: 0.5em 0;
-moz-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
transform: rotate(-90deg);
}
@media (min-width: 768px) {
	#NEWS {
	left: 35px;
	top: 90px;
	}
	#NEWS p {
	width: 14px;
	height: 645px;
	font-size: 14px;
	}
	#NEWS p strong {
	font-size: 14px;
	}
	#NEWS p .s1 {
	height: 545px;
	}
}

#SCT5,
#SCT1 {
position: relative;
padding: 86px 40px 0 40px;
}
#SCT5 h2,
#SCT1 h2 {
position: relative;
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
margin: 0 auto 72px auto;
padding: 0;
width: 22px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 22px;
line-height: 1.0;
letter-spacing: 0.12em;
text-align: center;
display: inline-block;
z-index: 2;
}
#SCT5 .cont p,
#SCT1 .cont p {
position: relative;
margin-bottom: 73px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 16px;
line-height: 1.98;
text-align: left;
z-index: 2;
}
#SCT5 .cont dt,
#SCT1 .cont dt {
margin-bottom: 28px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 13px;
text-align: left;
}
#SCT5 .cont dt span,
#SCT1 .cont dt span {
margin-bottom: 5px;
display: block;
}
#SCT5 .cont dd,
#SCT1 .cont dd {
margin-bottom: 74px;
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 13px;
line-height: 1.86;
text-align: left;
}
#SCT5 .cont dd{
margin-bottom: 60px;
}
#SCT1 .movie {
position: relative;
margin: 0 auto;
width: 0;
}
#SCT1 .motion1 span.s1 {
position: absolute;
left: -480px;
top: -165px;
background: url(../img/movie2_1.svg) no-repeat left top;
width: 489px;
height: 350px;
display: block;
-webkit-animation: movie2_1 2s ease-out normal;
-moz-animation: movie2_1 2s ease-out normal;
animation: movie2_1 2s ease-out normal;
}
@keyframes movie2_1 {
0% {left: -490px;;opacity: 0;}
100% {left: -480px;;opacity: 1;}
}
#SCT1 .motion2 span.s1 {
position: absolute;
left: -930px;
top: -265px;
background: url(../img/movie2_3.svg) no-repeat left top;
background-size: contain;
width: 930px;
height: 563px;
display: block;
}
#SCT1 .motion3 span.s1 {
position: absolute;
left: -930px;
top: -265px;
background: url(../img/movie2_3.svg) no-repeat left top;
background-size: contain;
width: 930px;
height: 563px;
display: block;
animation: opacity2 1s ease-out normal;
opacity: 0;
}
#SCT1 .motion3 span.s2 {
position: absolute;
left: -930px;
top: -265px;
background: url(../img/movie2_3w.svg) no-repeat left top;
background-size: contain;
width: 930px;
height: 563px;
display: block;
animation: opacity1 1s ease-out normal;
}
#SCT5 .tit {
position: relative;
text-align: top;
margin-top: -22px;
}
#SCT5 .tit h3 {
position: relative;
width: 100%;
text-align: center;
z-index: 1;
}
#SCT5 .tit h3 span {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
padding: 65px 0 23px 0;
font-family: 'FOT-筑紫A丸ゴシック Std R','TsukuARdGothicStd-R',sans-serif;
font-size: 28px;
font-weight: normal;
line-height: 1.55;
display: inline-block;
text-align: left;
}
#SCT5 .tit p {
position: absolute;
left: 0;
top: 0;
width: 100%;
font-family: 'FOT-筑紫A丸ゴシック Std R','TsukuARdGothicStd-R',sans-serif;
font-size: 30px;
line-height: 1.4;
text-align: center;
z-index: 0;
color: #e6001e;
}
@media (min-width: 768px) {
	#SCT5,
	#SCT1 {
	position: relative;
	margin: 0 auto;
	padding: 160px 0 0 0;
	width: 900px;
	}
	#SCT5 h2,
	#SCT1 h2 {
	margin: 0 auto 145px auto;
	width: 30px;
	font-size: 30px;
	}
	#SCT5 .cont p,
	#SCT1 .cont p {
	margin-bottom: 63px;
	font-size: 24px;
	line-height: 1.77;
	}
	#SCT5 .cont .dl1,
	#SCT1 .cont .dl1 {
	width: 410px;
	float: left;
	}
	#SCT5 .cont .dl2,
	#SCT1 .cont .dl2 {
	width: 410px;
	float: right;
	}
	#SCT5 .cont dt,
	#SCT1 .cont dt {
	margin-bottom: 33px;
	font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
	font-size: 16px;
	text-align: left;
	}
	#SCT5 .cont dt span,
	#SCT1 .cont dt span {
	margin-bottom: 5px;
	display: block;
	}
	#SCT5 .cont dd,
	#SCT1 .cont dd {
	margin-bottom: 94px;
	font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
	font-size: 16px;
	line-height: 1.89;
	text-align: left;
	}
	#SCT5 .cont dd{
	margin-bottom: 64px;
	}
	#SCT5 .tit {
	margin-top: -44px;
	margin-bottom: 54px;
	}
	#SCT5 .tit h3 {
	margin: 0 auto;
	text-align: center;
	}
	#SCT5 .tit h3 span {
	padding: 100px 0 4px 0;
	font-size: 46px;
	font-weight: normal;
	}
	#SCT5 .tit p {
	font-size: 50px;
	line-height: 1.4;
	}
	#SCT5 .block {
	padding-bottom: 18px;
	}
}

#SCT2 {
position: relative;
padding: 7px 40px 0 40px;
}
#SCT2 h2 {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
margin: 0 auto 72px auto;
padding: 0;
width: 22px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 22px;
line-height: 1.0;
letter-spacing: 0.12em;
text-align: center;
display: inline-block;
}
#SCT2 .block {
margin-bottom: 60px;
}
#SCT2 .block .label {
background: url(../img/sct2_icn_bg.png) no-repeat left bottom;
background-size: 26px auto;
margin: 0 auto 30px auto;
width: 26px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 13px;
line-height: 1.0;
color: #fff;
text-align: left;
}
#SCT2 .block .label.init {
background: url(../img/sct2_icn_bg_w.png) no-repeat left bottom;
background-size: 26px auto;
}
#SCT2 .block .label span {
padding: 7px 0 18px 0;
margin: 0 auto;
width: 13px;
display: block;
}
#SCT2 .block .image {
background-color: #fff;
margin-bottom: 40px;
font-size: 0;
line-height: 0;
}
#SCT2 .block .image img {
width: 100%;
height: auto;
}
#SCT2 .block .pack {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
margin: 0 auto;
padding-right: 15px;
height: 350px;
text-align: left;
display: inline-block;
}
#SCT2 #S2_BLK1 .pack {
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
-webkit-column-width: 15em;
-moz-column-width: 15em;
-ms-column-width: 15em;
column-width: 15em;
-moz-column-gap: 32px;
-webkit-column-gap: 32px;
-ms-column-gap: 32px;
column-gap: 32px;
margin: 0 auto;
padding-right: 15px;
height: 520px;
}
#SCT2 .pack h3 {
margin-left: 5px;
width: 24px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 24px;
line-height: 1.0;
text-align: left;
}
#SCT2 .pack h4 {
margin-left: 10px;
width: 18px;
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 18px;
line-height: 1.0;
text-align: left;
}
#SCT2 .pack p {
font-family: 'FOT-筑紫B丸ゴシック Std R','TsukuBRdGothicStd-R',sans-serif;
font-size: 14px;
line-height: 1.8;
text-align: justify;
text-justify: inter-ideograph;
text-indent: 1em;
}
#SCT2 .link {
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 14px;
line-height: 1.8;
}
#SCT2 .link a {
display: block;
border: solid 1px #fff;
padding: 13px 0;
text-decoration: none;
}
@media (min-width: 768px) {
	#SCT2 {
	position: relative;
	margin: 0 auto;
	padding: 59px 0 0 0;
	width: 1140px;
	}
	#SCT2 h2 {
	margin: 0 auto 95px auto;
	width: 30px;
	font-size: 30px;
	}
	#SCT2 .block {
	margin-bottom: 130px;
	}
	#S2_BLK2 {
	width: 530px;
	float: left;
	}
	#S2_BLK3 {
	width: 530px;
	float: right;
	}
	#S2_BLK4 {
	width: 530px;
	float: left;
	}
	#S2_BLK5 {
	width: 530px;
	float: right;
	}
	#SCT2 .block .label {
	background: url(../img/sct2_icn_bg.png) no-repeat left bottom;
	background-size: 34px auto;
	margin: 0 auto 60px auto;
	width: 34px;
	font-size: 18px;
	}
	#SCT2 .block .label.init {
	background: url(../img/sct2_icn_bg_w.png) no-repeat left bottom;
	background-size: 34px auto;
	}
	#SCT2 .block .label span {
	padding: 8px 0 25px 0;
	width: 18px;
	}
	#SCT2 .block .image {
	margin-bottom: 32px;
	}
	#SCT2 .block .pack {
	padding-right: 15px;
	height: 280px;
	}
	#SCT2 #S2_BLK1 .pack {
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	box-sizing: border-box;
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	margin: 0 auto;
	padding-right: 15px;
	height: 280px;
	text-align: left;
	}
	#SCT2 .pack h3 {
	margin-left: 16px;
	width: 24px;
	font-size: 24px;
	}
	#SCT2 .pack h4 {
	margin-left: 40px;
	width: 18px;
	font-size: 18px;
	}
	#SCT2 .pack p {
	font-size: 18px;
	}
	#SCT2 .link {
	clear: both;
	margin: 0 auto;
	width: 380px;
	font-size: 18px;
	line-height: 1.8;
	}
	#SCT2 .link a {
	display: block;
	border: solid 2px #fff;
	padding: 16px 0 18px 0;
	text-decoration: none;
	}
}

#SCT3 {
position: relative;
padding: 86px 40px 0 40px;
}
#SCT3 h2 {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
margin: 0 auto 35px auto;
padding: 0;
width: 22px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 22px;
line-height: 1.0;
letter-spacing: 0.12em;
text-align: center;
display: inline-block;
}
#SCT3 h3 {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
margin: 0 auto 47px auto;
padding: 0;
width: 18px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 18px;
line-height: 1.0;
letter-spacing: 0.12em;
text-align: left;
color: #b5b29d;
display: inline-block;
}
#SCT3 h3.partners {
line-height: 1.2;
width: 40px;
}
#SCT3 ul {
margin-bottom: 30px;
}
#SCT3 li {
box-sizing: border-box;
margin-bottom: 20px;
width: 50%;
float: left;
}
#SCT3 li:nth-child(2n) {
padding-left: 6px;
}
#SCT3 li:nth-child(2n-1) {
padding-right: 6px;
}
#SCT3 .cooperation li:last-child/*,
#SCT3 .support li:last-child,
#SCT3 .partners li:last-child */ {
margin: 0 25% 20px 25%;
padding: 0 3px;
float: none;
clear: both;
}
#SCT3 li img {
display: block;
width: 100%;
height: auto;
}
#SCT3 li a {
background-color: #fff;
display: block;
}
@media (min-width: 768px) {
	#SCT3 {
	position: relative;
	margin: 0 auto;
	padding: 160px 0 0 0;
	width: 1140px;
	}
	#SCT3 h2 {
	margin: 0 auto 44px auto;
	width: 30px;
	font-size: 30px;
	}
	#SCT3 h3 {
	margin: 0 auto 68px auto;
	width: 24px;
	font-size: 24px;
	}
	#SCT3 h3.partners {
	margin: 0 auto 68px auto;
	line-height: 1.2;
	width: 56px;
	}
	#SCT3 ul {
	margin-bottom: 40px;
	}
	#SCT3 .support,
	#SCT3 .partners {
	margin: 0 auto 40px auto;
	/*width: 848px; */
	width: 556px;
	}
	#SCT3 li {
	box-sizing:content-box;
	margin-bottom: 30px;
	padding-right: 26px !important;
	width: 265px;
	float: left;
	}
	#SCT3 li:nth-child(2n) {
	padding-left: 0;
	}
	#SCT3 li:nth-child(4n) {
	padding-right: 0 !important;
	}
	#SCT3 .cooperation li:last-child,
	#SCT3 .support li:last-child,
	#SCT3 .partners li:last-child {
	margin: 0 0 30px 0 !important;
	padding: 0 !important;
	float: left;
	clear: none;
	}
	#SCT3 li img {
	display: block;
	width: 100%;
	height: auto;
	}
}

#SCT4 {
position: relative;
padding: 86px 40px 44px 40px;
}
#SCT4 h2 {
-webkit-writing-mode: vertical-rl;
-moz-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
-ms-writing-mode: vertical-rl;
writing-mode: vertical-rl;
box-sizing: border-box;
margin: 0 auto 37px auto;
padding: 0;
width: 22px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 22px;
line-height: 1.0;
letter-spacing: 0.12em;
text-align: center;
display: inline-block;
}
#SCT4 .image {
-webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-o-transition: all 2s ease;
transition: all 2s ease;
margin-bottom: 41px;
}
#SCT4 .image.init {
background: url(../img/sct4_img_w.png) no-repeat center 0;
background-size: 81px auto;
}
#SCT4 ul {
padding-bottom: 26px;
}
#SCT4 li {
margin-bottom: 18px;
font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
font-size: 14px;
line-height: 1.65;
}
#SCT4 li span {
font-family: 'FOT-筑紫A丸ゴシック Std R','TsukuARdGothicStd-R',sans-serif;
font-size: 12px;
}
#SCT4 .link {
font-family: 'FOT-筑紫B丸ゴシック Std B','TsukuBRdGothicStd-B',sans-serif;
font-size: 14px;
line-height: 1.8;
}
#SCT4 .link a {
display: block;
border: solid 1px #fff;
padding: 13px 0;
text-decoration: none;
}
@media (min-width: 768px) {
	#SCT4 {
	position: relative;
	margin: 0 auto;
	padding: 90px 0 180px 0;
	width: 1140px;
	}
	#SCT4 h2 {
	margin: 0 auto 51px auto;
	width: 30px;
	font-size: 30px;
	}
	#SCT4 .image {
	margin-bottom: 57px;
	}
	#SCT4 .image.init {
	background: url(../img/sct4_img_w.png) no-repeat center 0;
	background-size: 108px auto;
	}
	#SCT4 .image img {
	width: 108px;
	height: auto;
	}
	#SCT4 ul {
	padding-bottom: 41px;
	}
	#SCT4 li {
	margin-bottom: 23px;
	font-family: 'FOT-筑紫A丸ゴシック Std B','TsukuARdGothicStd-B',sans-serif;
	font-size: 18px;
	line-height: 1.65;
	}
	#SCT4 li span {
	font-family: 'FOT-筑紫A丸ゴシック Std R','TsukuARdGothicStd-R',sans-serif;
	font-size: 14px;
	}
	#SCT4 .link {
	clear: both;
	margin: 0 auto;
	width: 380px;
	font-size: 18px;
	line-height: 1.8;
	}
	#SCT4 .link a {
	display: block;
	border: solid 2px #fff;
	padding: 16px 0 18px 0;
	text-decoration: none;
	}
}
