---
title: FAQ | 縦書きWebデザインアワード
layout: awards
faq:
  vert:
    - index: 1
      q: CSS Writing Modes とは何ですか？
      a: 文字表記の方向（縦横）を指定するCSSのモジュールです。<a href='http://tategaki.github.io/tategaki/'>概要や使用事例</a>を参考にしてください。 
    - index: 2
      q: 縦書きが可能なWebブラウザを教えてください
      a: Internet Explorer、Microsoft Edge、Google Chrome、Mozilla Firefox、Apple Safariなど、主要Webブラウザは CSS Writing Modes に対応しています（一部 prefix が必要なものもあります）。
  app:
    - index: 3
      q: 作品の応募はいつから受け付けますか？
      a: 2016年1月に応募開始予定です。応募フォームを用意しますので、応募規約に同意の上、作品URLを応募してください。
    - index: 4
      q: 自由課題の素材はどのように準備すれば良いですか。
      a: 作品のテーマにあわせて、テキスト、写真・画像、音声、映像などの素材を自由に用意してください。各素材について著作権の利用許諾が必要な場合は、あらかじめご自身にて許諾を得た上で使用してください。使用許諾を得ない素材を使用して作品を応募し、問題が生じた場合は、応募資格の取り消し、作品の削除などを求めます。本アワード主催者および事務局は一切の責任を負いません。
    - index: 5
      q: 課題部門とは何ですか？
      a: 主催側で用意したテキストおよび画像コンテンツを利用して作品を制作して頂きます。提供した素材の二次加工は可能ですが、素材の出典があるものは出典も明示、個別に利用条件が設定されているものは条件に従って使用してください。また、課題部門で使用する素材に、独自のテキストや画像を追加することは出来ませんが、背景や見出しなどの装飾のために、独自の画像やCSSにより図形等を追加することは可能です。
    - index: 6
      q: 中学生でも応募できますか？
      a: 年齢、性別、職業、国籍を問わず、誰でも応募できます。ただし、学生、未成年の場合は、応募や表彰式への参加にあたって、保護者の同意が必要です。
    - index: 7
      q: 作品で使用する言語は日本語ですか？
      a: 言語は問いません。しかし、事前選考および審査は主に日本語で行いますので、使用言語によっては、必ずしも制作者が意図したように審査されるとは限りません。
    - index: 8
      q: 日本人でなくても応募できますか？
      a: 応募者の国籍は問いませんが、日本語である程度コミュニケーションできる方に限らせて頂きます。
    - index: 9
      q: 同じ応募者が複数作品を応募することはできますか？
      a: できます。
    - index: 10
      q: 制作費用はどうすれば良いですか？
      a: 制作に必要なソフトやハードにかかる費用、コンテンツやフォントの使用料、通信費等一切の費用はご自身で負担してください。
    - index: 11
      q: 企業のサイトでも応募可能ですか。
      a: 応募可能です。ただし応募は個人あるいはチーム単位とし、法人としての応募はできません。
    - index: 12
      q: 数名のチームでの応募はできますか？
      a: できます。チームやユニットなど、複数の個人の場合は、チーム名および参加者全員の氏名で応募してください。
    - index: 13
      q: ターゲットブラウザは指定できますか？
      a: できます。応募の際に応募フォームから指定してください。ただし審査環境は各ブラウザの最新版となりますので、必ずしも制作時と同じ環境での審査になるとは限りません。
    - index: 14
      q: ターゲットプラットフォーム（OS）は指定できますか？
      a: できます。応募の際に応募フォームから指定してください。ただし審査環境は必ずしもご希望のプラットフォームでの審査になるとは限りません。
    - index: 15
      q: スマートフォンやタブレット向けの作品は応募できますか？
      a: 可能です。応募の際に端末の型番、機種名、OSのバージョンなどを指定してください。ただし、必ずしも同じ環境での審査になるとは限りません。
    - index: 16
      q: iPhoneアプリやAndroidアプリは応募できますか？
      a: アプリの応募はできませんが、Webブラウザで閲覧可能なWebアプリであれば問題ありません。
    - index: 17
      q: 応募後に修正は可能ですか。
      a: できます。ただし、応募状況によって審査を実施するタイミングはお知らせできません。場合によっては修正前の作品で審査される可能性があることをご理解下さい。
    - index: 18
      q: Webフォントは使用できますか。
      a: できます。ご自身がすでにお持ちのWebフォントの他、ソフトバンクテクノロジーの協力により、<a href='https://webfont.fontplus.jp/trial/terms'>「FONT PLUS」無料トライアル版</a>のWebフォントをお使いいただくことも可能です。利用の際には、各自で登録ください（詳細は別途ご案内します）。
    - index: 19
      q: 著作権は誰に帰属しますか？
      a: 作品は制作者に帰属、制作に使用した各素材は、各素材の著作権者に帰属します。作品については、縦書きWeb普及の観点から、優れたデザインを誰もが利用できるように、OSS（オープンソースソフトウェア）ライセンスで公開して頂くことが望ましいです（OSSライセンスについては別途ご案内します）。
    - index: 20
      q: 個人情報の取扱いについて教えて下さい？
      a: 候補者および受賞者へのご連絡、受賞者の発表に使用いたします。受賞者の発表には、氏名またはニックネームでの公開となります。
    - index: 21
      q: 応募規約について教えてください。
      a: 現在準備中です。本サイトに掲載予定です。
  judge:
    - index: 22
      q: 審査手順を教えてください。
      a: 応募状況によって事前に主催側で候補作品を選考の上、表彰式当日に審査員により、受賞作品を選定します。
    - index: 23
      q: 審査基準を教えてください。
      a: CSS Writing Modes を使用した縦書きWebコンテンツであり、①表現的に優れた実用性の高いコンテンツや、②縦書きを利用したWebの新たな可能性を見せてくれるようなコンテンツを基準とし、デザインの独創性、表現性、実用性等を総合的に評価します。評価の対象は CSS Writing Modes を使用した縦書きで、画像や JavaScript やその他を使用した縦書きは評価の対象にはなりません（ただし、CSS Writing Modes を使用した縦書きに対し、デザインを整えるなどのために補助的に JavaScript 等を使用することは評価対象として考慮されます）。また、審査はデザインを対象として行い、使用されている技術の難易度そのものは審査対象ではありません。
  result:
    - index: 24
      q: 審査状況は教えてもらえますか？
      a: いいえ。審査結果の発表のみ行います。候補者には事前にご連絡いたします。
    - index: 25
      q: 審査結果はどのように発表されますか。
      a: 受賞作品は、Webサイトおよび表彰式で発表します。候補者には事前に連絡しますので、表彰式にご参加ください。ただし、出席にかかる交通費、宿泊費等の実費はご自身でご負担ください。
    - index: 26
      q: 表彰式には誰が参加できますか。
      a: 候補者と審査員、プレス、関係者です。
    - index: 27
      q: いつまで作品を公開すればよいですか？
      a: 受賞作品は、審査結果の発表後、半年～1年程度は公開をお願いしたいと思います。ただし、公開にかかる通信費、サーバー費用等の実費はご自身でご負担ください。
  misc:
    - index: 28
      q: 質問はどこに問合せれば良いですか。
      a: 事務局までお問合せください。
    - index: 29
      q: 取材の申込はできますか？
      a: 事務局までお問合せください。
---

<section id="faq" class="section">
  <div class="container row-fluid">
    <div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-2">
    <header class="section-header">
      <h2 class="section-heading">よくあるご質問</h2>
      <p class="section-subheading">FAQ</p>
    </header>

    <div class="section-body">
      <section id="on-vert-writing" class="subsection">
        <header class="subsection-header">
          <h3 class="subsection-heading">
          	縦書きについて
          </h3>
        </header>
        <div class="subsection-body">
          <dl class="faq-list">
          {% for item in page.faq.vert %}
            <dt class="question">
              <span class="index">Q{{ item.index}}.</span> {{ item.q }}
            </dt>
            <dd class="answer">
              {{ item.a }}
            </dd>
          {% endfor %}
          </dl>
        </div>
      </section>
      <section id="on-application" class="subsection">
        <header class="subsection-header">
          <h3 class="subsection-heading">
          	応募について
          </h3>
        </header>
        <div class="subsection-body">
          <dl class="faq-list">
          {% for item in page.faq.app %}
            <dt class="question">
              <span class="index">Q{{ item.index}}.</span> {{ item.q }}
            </dt>
            <dd class="answer">
              {{ item.a }}
            </dd>
          {% endfor %}
          </dl>
        </div>
      </section>
      <section id="on-judgement" class="subsection">
        <header class="subsection-header">
          <h3 class="subsection-heading">
          	審査について
          </h3>
        </header>
        <div class="subsection-body">
          <dl class="faq-list">
          {% for item in page.faq.app %}
            <dt class="question">
              <span class="index">Q{{ item.index}}.</span> {{ item.q }}
            </dt>
            <dd class="answer">
              {{ item.a }}
            </dd>
          {% endfor %}
          </dl>
        </div>
      </section>
      <section id="on-result" class="subsection">
        <header class="subsection-header">
          <h3 class="subsection-heading">
          	審査結果・表彰式について
          </h3>
        </header>
        <div class="subsection-body">
          <dl class="faq-list">
          {% for item in page.faq.result %}
            <dt class="question">
              <span class="index">Q{{ item.index}}.</span> {{ item.q }}
            </dt>
            <dd class="answer">
              {{ item.a }}
            </dd>
          {% endfor %}
          </dl>
        </div>
      </section>
      <section id="misc" class="subsection">
        <header class="subsection-header">
          <h3 class="subsection-heading">
          	その他
          </h3>
        </header>
        <div class="subsection-body">
          <dl class="faq-list">
          {% for item in page.faq.misc %}
            <dt class="question">
              <span class="index">Q{{ item.index}}.</span> {{ item.q }}
            </dt>
            <dd class="answer">
              {{ item.a }}
            </dd>
          {% endfor %}
          </dl>
        </div>
      </section>
    </div>
    </div>
  </div>
</section>