@charset "utf-8";

/* COMMON */

body {
position: relative;
font-style: normal;
margin: 0;
padding: 0;
font-size: 12px;
line-height: 1.5;
color: #1b2437;
}

body * {
margin: 0;
padding: 0;
}
a:link,
a:active,
a:visited { 
color: #0039dc;
text-decoration: underline;
}
a:hover { 
color: #0039dc;
text-decoration: none;
}

table {
font-size: 12px;
line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
font-size: 100%;
}

ol, ul {
list-style-type: none;
}

hr {
display: none;
}

img {
border: 0;
}

form {
display: inline;
}

select,
input {
vertical-align:baseline;
}

